$color-text: #555;
$color-link: #989898;
$color-hover: #0068FF;

$width-med: 40.063em;
$width-large: 64.063em;
$width-content-max: 800px;

$font-size: 1rem;
$font-family: "Dosis", sans-serif;
$line-height: 1.8;

$transition: all 0.3s ease-out;
