$color-text: #333;
$color-link: #046B99;
$color-hover: #333;

$width-med: 40.063em;
$width-large: 64.063em;
$width-content-max: 800px;

$font-size: 1.1rem;
$font-family: "Quicksand", sans-serif;
$line-height: 1.8;

$transition: all 0.3s ease-out;
