//
//SVG Animation
//
.svg-wrapper {
	width: 90%;
	margin: 0 auto;

	@include mediaQuery(wider-mobile) {
		width: 75%;
	}

	@include mediaQuery(widest-mobile) {
		width: 55%;
	}

	@include mediaQuery(tablet) {
		width: 95%;
	}

	@include mediaQuery(desktop) {
		width: 900px;
		margin: 0 auto;
	}

	.svg-link { cursor: pointer;}

	.circuit-circle, .svg-description { 
		opacity: 0; 
		transition: all 0.7s ease;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}

	.circuit-line { transition: all 1s ease; }
}

#line1 {
	stroke-dasharray: 310;
	stroke-dashoffset: 310;

	&.animate { stroke-dashoffset: 0; }
}

#circle1 { transition-delay: 0.5s; }

#line2 {
	stroke-dasharray: 500;
	stroke-dashoffset: 500;
	transition-delay: 0.3s;

	&.animate { stroke-dashoffset: 0; }
}

#circle2 { transition-delay: 0.7s; }

#line3 {
	stroke-dasharray: 700;
	stroke-dashoffset: 700;

	&.animate { stroke-dashoffset: 0; }
}

#circle3 { transition-delay: 0.5s; }

#line4 {
	stroke-dasharray: 500;
	stroke-dashoffset: 500;
	transition-delay: 0.5s;

	&.animate { stroke-dashoffset: 0; }
}

#circle4 { transition-delay: 0.8s;}

#line5 { 
	stroke-dasharray: 500;
	stroke-dashoffset: 500;
	transition-delay: 0.7s; 

	&.animate { stroke-dashoffset: 0; }
} 

#circle5 { transition-delay: 0.9s;}

#svg-work, #svg-github, #svg-about, 
#svg-contact, #svg-blog {
	transition-delay: 1s;
}

#circle1:hover, #circle2:hover, #circle3:hover, 
#circle4:hover, #circle5:hover {
	opacity: 0.5;
}

#circle1.show, #circle2.show, #circle3.show, 
#circle4.show, #circle5.show, #svg-work.show,
#svg-github.show, #svg-about.show, #svg-contact.show,
#svg-blog.show {
	opacity: 1;
}