/* ==== common ==== */

@import url('common.css');
@import url('jquery.bxslider.css');

@font-face {
  font-family: "Hiragino Kaku Gothic Std";
  src: url("../fonts/Hiragino Kaku Gothic Std/hiragino_kaku_gothic_std_W1.ttf") format("truetype"),
       url("../fonts/Hiragino Kaku Gothic Std/hiragino_kaku_gothic_std_W1.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Hiragino Kaku Gothic Std";
  src: url("../fonts/Hiragino Kaku Gothic Std/hiragino_kaku_gothic_std_W2.ttf") format("truetype"),
       url("../fonts/Hiragino Kaku Gothic Std/hiragino_kaku_gothic_std_W2.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Hiragino Kaku Gothic Std";
  src: url("../fonts/Hiragino Kaku Gothic Std/hiragino_kaku_gothic_std_W3.ttf") format("truetype"),
       url("../fonts/Hiragino Kaku Gothic Std/hiragino_kaku_gothic_std_W3.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Hiragino Kaku Gothic Std";
  src: url("../fonts/Hiragino Kaku Gothic Std/hiragino_kaku_gothic_std_W4.ttf") format("truetype"),
       url("../fonts/Hiragino Kaku Gothic Std/hiragino_kaku_gothic_std_W4.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Hiragino Kaku Gothic Std";
  src: url("../fonts/Hiragino Kaku Gothic Std/hiragino_kaku_gothic_std_W5.ttf") format("truetype"),
       url("../fonts/Hiragino Kaku Gothic Std/hiragino_kaku_gothic_std_W5.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Hiragino Kaku Gothic Std";
  src: url("../fonts/Hiragino Kaku Gothic Std/hiragino_kaku_gothic_std_W6.ttf") format("truetype"),
  url("../fonts/Hiragino Kaku Gothic Std/hiragino_kaku_gothic_std_W6.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Hiragino Kaku Gothic Std";
  src: url("../fonts/Hiragino Kaku Gothic Std/hiragino_kaku_gothic_std_W7.ttf") format("truetype"),
       url("../fonts/Hiragino Kaku Gothic Std/hiragino_kaku_gothic_std_W7.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Hiragino Kaku Gothic Std";
  src: url("../fonts/Hiragino Kaku Gothic Std/hiragino_kaku_gothic_std_W8.ttf") format("truetype"),
       url("../fonts/Hiragino Kaku Gothic Std/hiragino_kaku_gothic_std_W8.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Hiragino Kaku Gothic Std";
  src: url("../fonts/Hiragino Kaku Gothic Std/hiragino_kaku_gothic_std_W9.ttf") format("truetype"),
       url("../fonts/Hiragino Kaku Gothic Std/hiragino_kaku_gothic_std_W9.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

/* ==== global ==== */

.wella {
    font-family: "Hiragino Kaku Gothic Std", "メイリオ", sans-serif;
    font-weight: 400;
    color: #646464;
}

.wella p {
  color: #646464;
}

.wella img {
    max-width: 100%;
}

/* ==== layout ==== */

.section {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.section__title {
    color: #5a498e;
    margin-bottom: 5rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
}

.section__description {
  text-align: center;
}

.section--gray {
    background-color: #F4F5F6;
}

.section--beforeafter img,
.beforeafter__img {
    width: 100%;
}

.text-wrapper {
    max-width: 500px;
    margin: 0 auto;
}


/* ==== marquee ==== */

.section--marquee {
    padding-top: 15rem;
    padding-bottom: 18rem;
}

.title-wrapper {
    position: relative;
    margin-left: -1rem;
    margin-bottom: 5rem;
}

.title {
    font-size: 8rem;
    font-weight: 600;
    font-family: "Hiragino Kaku Gothic Std";
}

.title--english {
    text-transform: uppercase;
    font-size: 4.75rem;
    font-weight: 600;
}

.title--year {
    transform: rotate(-90deg);
    position: absolute;
    right: -6rem;
    top: 3rem;
    font-size: 5rem;
}

.video {
  margin-top: -15rem;
  text-align: center;
}

/* ==== before and after ==== */
.beforeafter--slide {
  box-shadow: 0px 10px 20px 0px rgba(90,73,142,0.25);
  max-width: 50rem;
  margin: 0 auto;
}

.beforeafter {
  box-shadow: 0px 10px 20px 0px rgba(90,73,142,0.25);
  opacity: 1;
  position: relative;
  cursor: pointer;
}

.beforeafter__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.before .fade {
  opacity: 0;
  transition: 2s opacity;
}

.beforeafter__hover:hover,
.beforeafter__hover:focus {
  transition: 0.25s opacity;
  opacity: 0.75;
}

/* hover option */


.carousel-control-prev {
  left: -10rem;
}

.carousel-control-next {
  right: -10rem;
}

/* ==== campaign ==== */

.campaign__step {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #D4D6DA;
  border-radius: 50%;
  width: 35rem;
  height: 35rem;
  text-align: center;
  padding: 3rem;
  position: relative;
}

.campaign__step h4 {
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.campaign__img {
  position: absolute;
  right: 0rem;
  bottom: -3rem;
  width: 8rem;
}

/* ==== faq ==== */

.faq-wrapper {
  width: 80rem;
  margin: 0 auto;
}

.faq {
  display: flex;
  margin-bottom: 2.5rem;
}

.faq__question {
  font-weight: 600;
  font-size: 2rem;
}

.faq__icon {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #D4D6DA;
  width: 8rem;
  height: 8rem;
  font-size: 2rem;
}
