/* ==== overwrite bootstrap standard ==== */

* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    font: inherit;
    font-style: normal;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'メイリオ', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.8em;
    color: #333;
    background-color: #fff;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1em;
}

p {
    margin-bottom: 20px;
    color: #333;
    font-size: 16px;
    line-height: 1.8;
}

a {
    text-decoration: none;
    outline: none;
    color: #333;
}

a:hover {
    text-decoration: none;
    color: #aaa;
}

a:hover img {
    opacity: 0.8;
    filter: alpha(opacity=70);
    -ms-filter: "alpha( opacity=70 )";
}

.r-pc {
    display: block !important;
    /* PCだけ表示 */
}

.r-sp {
    display: none !important;
    /* SPだけ表示 */
}

.btn {
  border-radius: 1rem;
  padding: 1rem 3rem;
}

.btn-secondary {
  font-size: 2rem;
}

.btn-outline-secondary {
  font-size: 1.5rem;
}

@media (max-width: 767px) {
    .r-pc {
        display: none !important;
    }
    .r-sp {
        display: block !important;
    }
}

/* ===========================
  呼び出しheader,footerのCSS競合調整
============================ */


/*** PC header用 ***/

header {
    height: 103px;
}

.c-header-nav li {
    letter-spacing: 0.16rem;
}

_::-webkit-full-page-media, _:future, :root .c-header-nav li {
    letter-spacing: 0.26rem;
    /* Safari */
}

@-moz-document url-prefix() {
    .c-header-nav li {
        letter-spacing: 0.1rem;
        /* Firefox */
    }
}

.c-header__title {
    position: relative;
    margin-top: -11px;
}

_::-webkit-full-page-media, _:future, :root .c-header__title {
    margin: 0;
    /* Safari */
}

@media all and (-ms-high-contrast:none) {
     *::-ms-backdrop, .c-header__title {
    margin-top: 17px;
  } /* IE11 */
}

.c-header__title .c-header-tool__logo {
    display: block;
    width: 286px;
    height: 56px;
    overflow: hidden;
    text-indent: 150%;
    white-space: nowrap;
    background: url(../img/header-logo.jpg) center no-repeat;
    background-size: auto 100%;
    margin-left: 20px;
}

.c-header-tool__item:last-child {
    width: 52px;
}

.c-button--sub {
    height: 40px;
    font-size: 1.4rem;
    line-height: 40px;
    letter-spacing: 0.17rem;
}

.c-header-tool__login {
    line-height: 1.4rem;
    letter-spacing: 0.17rem;
}

.c-mega-dropdown {
    position: relative;
    z-index: 22222;
}

.c-mega-dropdown-article__text {
    font-size: 13px;
    font-weight: bold;
}

.c-mega-dropdown__more {
    position: absolute;
    top: 100px;
    right: 0;
}


/* Google カスタム検索用 */

.c-gsearch.gsc-control-cse, .c-gsearch .gsc-control-cse-ja, .c-gsearch .gsib_a {
    margin: -8px 0 -3px -14px !important;
    padding: 4px 0 2px 15px !important;
}

.c-gsearch input.gsc-search-button {
    position: relative !important;
    margin-right: -13px !important;
    padding: 8px!important;
    background: #d2d2d2 !important;
    background: -ms-linear-gradient(top, #008ee1 0%, #008ee1 100%);
    /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008ee1', endColorstr='#008ee1', GradientType=0);
    /* IE6-9 */
}

.c-gsearch .gsc-search-button {
    margin: 0 0 0 -16px !important;
    border-radius: 0px;
}

.c-gsearch .gsib_b span {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 2px 0 0 0;
}


/*** PC footer用 ***/

#footer {
    padding: 0;
    letter-spacing: 0.16rem;
    border: none;
}

.c-footer-heading {
    margin: 0;
}

.c-footer-more {
    margin-top: -9px;
}

.c-footer-bottom__copy {
    position: absolute;
    top: 39px;
    letter-spacing: 0.16rem;
}


/*** SP header用 ***/

@media (max-width: 767px) {
    header {
        height: 46px;
    }
    #header {
        padding-top: 0;
        width: 100%;
    }
    .c-breadcrumb {
        height: 39px;
        margin: 0;
        padding: 0 !important;
    }
    .c-header__title {
        margin-top: 0;
    }
    .c-header__search, .c-header__login, .c-nav-tool__login, .c-nav-tool__facebook, .c-nav-tool__twitter {
        line-height: 1.4;
    }
    #nav {
        position: static;
    }
    .l-nav {
        position: fixed !important;
        z-index: 22222;
    }
    .c-header__title {
        position: absolute;
    }
    /* Google カスタム検索用 */
    .c-gsearch td {
        border: none;
        width: 90% !important;
    }
    .c-gsearch input.gsc-search-button {
        position: relative !important;
        margin-right: -13px !important;
        margin-left: -13px !important;
        background: #d2d2d2 !important;
        background: -ms-linear-gradient(top, #008ee1 0%, #008ee1 100%);
        /* IE10+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008ee1', endColorstr='#008ee1', GradientType=0);
        /* IE6-9 */
    }
    .c-gsearch .gsib_b span {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        padding: 2px 0 0 0;
    }
}


/*** SP footer用 ***/

@media (max-width: 767px) {
    footer {
        padding-bottom: 60px;
    }
    .c-footer__copy {
        margin: 0;
        padding: 0 0 12px;
        font-size: 10px !important;
    }
    .c-footer__nav {
        margin: 0;
        line-height: 1.0em;
    }
}

/* SP, PC共通 facebook like button ずれる対応 */
.fb_iframe_widget > span {
    vertical-align: baseline !important;
}