.error-container {
  @extend .container;
  height: 100%;
}

.error-image {
  max-width: $width-content-max;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;

  img { max-width: 31em; }

  figcaption { margin: 1em 0; }

  .back-btn {
    border: 1px solid $color-link;
    padding: .3em .5em;
    border-radius: 4px;
  }
}
