$width_mobile: 567px;
$width_tablet: 768px;
$font-barlow: "Barlow", sans-serif;
$font-serif: YakuHanMP, "Hiragino Mincho ProN", "Noto Serif JP", "Yu Mincho", YuMincho, serif;
$font-sans-serif: YakuHanJP, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", Meiryo, sans-serif;

$color-blossom: #E85298;
$color-stardust: #687271;