/* color
=================================================================== */
/* common
=================================================================== */
/* layout
=================================================================== */
/* animation delay
=================================================================== */
/* 3d
=================================================================== */
/* font
=================================================================== */
/* form
=================================================================== */
@-webkit-keyframes closeAnime {
  0% {
    top: 27px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  50% {
    top: 27px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    top: 24px;
    -webkit-transform: rotate(0);
    transform: rotate(0); } }
@keyframes closeAnime {
  0% {
    top: 27px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  50% {
    top: 27px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    top: 24px;
    -webkit-transform: rotate(0);
    transform: rotate(0); } }

@-webkit-keyframes closeAnime2 {
  0% {
    top: 27px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  50% {
    top: 27px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    top: 30px;
    -webkit-transform: rotate(0);
    transform: rotate(0); } }

@keyframes closeAnime2 {
  0% {
    top: 27px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  50% {
    top: 27px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    top: 30px;
    -webkit-transform: rotate(0);
    transform: rotate(0); } }

@-webkit-keyframes closeBackAnime {
  0% {
    top: 24px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  50% {
    top: 27px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    top: 27px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); } }

@keyframes closeBackAnime {
  0% {
    top: 24px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  50% {
    top: 27px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    top: 27px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); } }

@-webkit-keyframes closeBackAnime2 {
  0% {
    top: 30px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  50% {
    top: 27px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    top: 27px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); } }

@keyframes closeBackAnime2 {
  0% {
    top: 30px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  50% {
    top: 27px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    top: 27px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); } }

/*anime__sp
===============================================================*/
@-webkit-keyframes closeAnimeSp {
  0% {
    top: 20px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  50% {
    top: 20px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    top: 17px;
    -webkit-transform: rotate(0);
    transform: rotate(0); } }
@keyframes closeAnimeSp {
  0% {
    top: 20px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  50% {
    top: 20px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    top: 17px;
    -webkit-transform: rotate(0);
    transform: rotate(0); } }

@-webkit-keyframes closeAnimeSp2 {
  0% {
    top: 20px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  50% {
    top: 20px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    top: 23px;
    -webkit-transform: rotate(0); } }

@keyframes closeAnimeSp2 {
  0% {
    top: 20px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  50% {
    top: 20px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    top: 23px;
    -webkit-transform: rotate(0); } }

@-webkit-keyframes closeBackAnimeSp {
  0% {
    top: 17px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  50% {
    top: 20px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    top: 20px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); } }

@keyframes closeBackAnimeSp {
  0% {
    top: 17px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  50% {
    top: 20px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    top: 20px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); } }

@-webkit-keyframes closeBackAnimeSp2 {
  0% {
    top: 23px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  50% {
    top: 20px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    top: 20px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); } }

@keyframes closeBackAnimeSp2 {
  0% {
    top: 23px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  50% {
    top: 20px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    top: 20px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); } }

@media only screen and (max-width: 1270px) {
  .inner article.content__slider section > ul > li .slider {
    width: calc(100% - 6px);
    left: 3px; }
    .inner article.content__slider section > ul > li .slider dl dt {
      width: 70px; }
    .inner article.content__slider section > ul > li .slider dl dd {
      margin-left: 73px; }
      .inner article.content__slider section > ul > li .slider dl dd .person--contents {
        left: 12px; }
        .inner article.content__slider section > ul > li .slider dl dd .person--contents ul li {
          font-size: 11px;
          margin-right: 0; } }

@media only screen and (max-width: 1020px) {
  .inner article.content__slider {
    margin-bottom: 85px;
    overflow: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch; }
    .inner article.content__slider section > ul {
      width: 1040px; }
      .inner article.content__slider section > ul > li .slider {
        width: calc(100% - 6px);
        left: 3px; }
        .inner article.content__slider section > ul > li .slider dl dt {
          font-size: 9px;
          width: 65px;
          padding-top: 13px; }
        .inner article.content__slider section > ul > li .slider dl dd {
          margin-left: 68px; }
          .inner article.content__slider section > ul > li .slider dl dd .person--contents {
            left: 12px; }
            .inner article.content__slider section > ul > li .slider dl dd .person--contents ul li {
              font-size: 11px;
              margin-right: 0; } }

@media only screen and (max-width: 1100px) {
  /* contents
    =================================================================== */
  .inner article.contents__concept dl .contents__concept--text {
    margin-left: 405px; }
  .inner article.contents__detail section .contents__detail--right .contents__right--text {
    padding: 30px; }
    .inner article.contents__detail section .contents__detail--right .contents__right--text h3 {
      margin-bottom: 33px; } }

@media only screen and (max-width: 895px) {
  /* contents
    =================================================================== */
  .ocean .inner article.article__keyvisual .keyvisual__top--img {
    background: url(../img/contents/color/ocean/main--img--sp.jpg) no-repeat center top; }
  .nude .inner article.article__keyvisual .keyvisual__top--img {
    background: url(../img/contents/color/nude/main--img--sp.jpg) no-repeat center top; }
  .forest .inner article.article__keyvisual .keyvisual__top--img {
    background: url(../img/contents/color/forest/main--img--sp.jpg) no-repeat center top; }
  .safari .inner article.article__keyvisual .keyvisual__top--img {
    background: url(../img/contents/color/safari/main--img--sp.jpg) no-repeat center top; }
  .inner article.contents__concept dl .contents__concept--title {
    position: relative;
    width: auto;
    height: auto;
    margin-bottom: 40px; }
    .inner article.contents__concept dl .contents__concept--title .contents__name dl dt {
      font-size: 16px;
      padding-left: 31px; }
      .inner article.contents__concept dl .contents__concept--title .contents__name dl dt:after {
        width: 20px;
        height: 20px;
        top: 3px; }
      .inner article.contents__concept dl .contents__concept--title .contents__name dl dt strong {
        margin-bottom: 10px;
        font-size: 26px; }
    .inner article.contents__concept dl .contents__concept--title .contents__name dl dd {
      font-size: 10px;
      line-height: 1.6; }
  .inner article.contents__concept dl .contents__concept--text {
    margin-left: 0;
    margin-bottom: 35px;
    font-size: 11px;
    line-height: 2.1; }
    .inner article.contents__concept dl .contents__concept--text strong {
      font-size: 17px;
      margin-bottom: 10px; }
  .inner article.contents__detail section .contents__detail--left {
    float: none;
    width: 100%;
    padding-top: 115.53%;
    margin-bottom: 15px; }
  .inner article.contents__detail section .contents__detail--right {
    float: none;
    width: 100%; }
    .inner article.contents__detail section .contents__detail--right .contents__detail--right--img span {
      padding-top: 67.52%;
      background-position: center top; }
    .inner article.contents__detail section .contents__detail--right .contents__right--text {
      padding: 20px;
      margin: 40px 30px 20px; }
      .inner article.contents__detail section .contents__detail--right .contents__right--text p {
        font-size: 12px;
        margin-bottom: 12px; }
      .inner article.contents__detail section .contents__detail--right .contents__right--text h3 {
        padding: 0px 0 20px 70px;
        margin-bottom: 13px; }
        .inner article.contents__detail section .contents__detail--right .contents__right--text h3:after {
          width: 50px;
          height: 50px;
          background-size: 40px auto !important; }
        .inner article.contents__detail section .contents__detail--right .contents__right--text h3 dl dt {
          font-size: 18px;
          margin-bottom: 8px; }
      .inner article.contents__detail section .contents__detail--right .contents__right--text > dl > dt {
        font-size: 12px;
        margin-bottom: 10px; }
      .inner article.contents__detail section .contents__detail--right .contents__right--text > dl > dd {
        font-size: 11px; }
  .forest .inner article.contents__detail, .nude .inner article.contents__detail {
    margin-bottom: 15px; }
    .forest .inner article.contents__detail.forest__detail, .forest .inner article.contents__detail.nude__detail, .nude .inner article.contents__detail.forest__detail, .nude .inner article.contents__detail.nude__detail {
      margin-bottom: 30px; }
      .forest .inner article.contents__detail.forest__detail section .contents__detail--left, .forest .inner article.contents__detail.nude__detail section .contents__detail--left, .nude .inner article.contents__detail.forest__detail section .contents__detail--left, .nude .inner article.contents__detail.nude__detail section .contents__detail--left {
        padding-top: 67.52%; }
    .forest .inner article.contents__detail section .contents__detail--top, .nude .inner article.contents__detail section .contents__detail--top {
      padding-top: 115.53%;
      margin-bottom: 15px; }
  .nude .inner article.contents__detail section .contents__detail--top {
    background: url(../img/contents/color/nude/contents__img--1--sp.jpg) no-repeat center center; }
  .forest .inner article.contents__detail section .contents__detail--top {
    background: url(../img/contents/color/forest/contents__img--1--sp.jpg) no-repeat center center; }
  .inner article.content__slider section > ul > li .slider dl dt {
    width: 65px;
    height: 54px; }
  .inner article.content__slider section > ul > li .slider dl dd .person--contents ul {
    padding-top: 7px; }
  .slider {
    height: 54px; }
    .slider__profile {
      font-size: 11px; } }

@media only screen and (max-width: 766px) {
  .inner article.contents__detail section .contents__detail--right .contents__right--text {
    margin: 30px 0 20px; } }
