.section__title {
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "Noto Serif Japanese", serif, sans-serif;
  color: #5a498e;
  margin-bottom: 30px;
  text-align: center;
  font-size: 34px;
  font-weight: 600;
}

.section__description {
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "Noto Serif Japanese", serif, sans-serif;
  font-size: 20px;
  color: #343539;
  margin-bottom: 75px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .section__title {
    font-size: 28px;
  }
  .section__description {
    margin-bottom: 45px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.beforeafter__left,
.beforeafter__right {
  background: transparent;
  border: 0;
  cursor: pointer;
}
.beforeafter__left {
  background-image: url(../img/contents/kurokami/arrow-left-mobile.svg);
}
.beforeafter__right {
  background-image: url(../img/contents/kurokami/arrow-right-mobile.svg);
}
.beforeafter__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}
.before img,
.after img {
  width: 100%;
}
.before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.beforeafter__indicators {
  margin-top: 15px;
  display: inline-block; 
}

.indicator.active {
  background-color: #A897DA;
}

.indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #A897DA;
  margin: 0 6px;
  float: left;
}
@media only screen and (min-width: 768px) {
  .beforeafter__left {
    background-image: url(../img/contents/kurokami/arrow-left.svg);
  }
  .beforeafter__right {
    background-image: url(../img/contents/kurokami/arrow-right.svg);
  }
  .beforeafter__left:hover,
  .beforeafter__left:focus {
    background-image: url(../img/contents/kurokami/arrow-left-hover.svg);
  }
  .beforeafter__right:hover,
  .beforeafter__right:focus {
    background-image: url(../img/contents/kurokami/arrow-right-hover.svg);
  }

  .beforeafter__left:focus,
  .beforeafter__right:focus {
    outline: none;
  }
}

#video-before-after {
  padding-top: 110px;
  text-align: center;
  max-width: 540px;
  margin: 60px auto 0;
  position: relative;
  cursor: pointer;
}
#video-before-after p {
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "Noto Serif Japanese", serif, sans-serif;
  font-size: 20px;
  color: #343539;
  margin-bottom: 75px;
}
#beforeafter--video {
  opacity: 0;
-webkit-transform: translateY(10px);
   -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
     -o-transform: translateY(10px);
        transform: translateY(10px);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#beforeafter--video.inviewed {
  opacity: 1;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
     -moz-transition: opacity 1s, -moz-transform 1s;
      -ms-transition: opacity 1s, -ms-transform 1s;
       -o-transition: opacity 1s, -o-transform 1s;
          transition: opacity 1s, transform 1s;
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0);

  -ms-filter: none;
      filter: none;
}
#video-before-after .beforeafter__left {
  left: -70px;
}
#video-before-after .beforeafter__right {
  right: -70px;
}
#video-before-after .beforeafter__left,
#video-before-after .beforeafter__right {
  position: absolute;
  transition: background-image 0.15s ease;
  top: 40%;
  z-index: 4;
  width: 104px;
  height: 104px;
  background-size: contain;
}
@media only screen and (max-width: 768px) {
  #video-before-after .beforeafter__left {
    left: 10px;
  }
  #video-before-after .beforeafter__right {
    right: 10px;
  }
  #video-before-after .beforeafter__left,
  #video-before-after .beforeafter__right {
    top: 45%;
    width: 45px;
    height: 45px;
  }
}
@media only screen and (max-width: 567px) {
  #video-before-after .beforeafter__left,
  #video-before-after .beforeafter__right {
    width: 28px;
    height: 28px;
  }
}

#bob {
  margin: 110px 0;
}
#bob .beforeafter-wrapper {
  max-width: 1110px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#bob .beforeafter {
  max-width: 380px;
  width: 50%;
  position: relative;
  margin: 30px 75px;
  opacity: 0;
-webkit-transform: translateY(10px);
   -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
     -o-transform: translateY(10px);
        transform: translateY(10px);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#bob .beforeafter.inviewed {
  opacity: 1;
  -webkit-transition: opacity 1s 0.5s, -webkit-transform 1s 0.5s;
     -moz-transition: opacity 1s 0.5s, -moz-transform 1s 0.5s;
      -ms-transition: opacity 1s 0.5s, -ms-transform 1s 0.5s;
       -o-transition: opacity 1s 0.5s, -o-transform 1s 0.5s;
          transition: opacity 1s 0.5s, transform 1s 0.5s;
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0);

  -ms-filter: none;
      filter: none;
}
#bob .beforeafter[data-transition-delay="0.5"] {
  -webkit-transition-delay: 0.5s;
     -moz-transition-delay: 0.5s;
      -ms-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
#bob .beforeafter[data-transition-delay="1"] {
  -webkit-transition-delay: 1s;
     -moz-transition-delay: 1s;
      -ms-transition-delay: 1s;
       -o-transition-delay: 1s;
          transition-delay: 1s;
}
#bob .beforeafter[data-transition-delay="1.5"] {
  -webkit-transition-delay: 1.5s;
     -moz-transition-delay: 1.5s;
      -ms-transition-delay: 1.5s;
       -o-transition-delay: 1.5s;
          transition-delay: 1.5s;
}
#bob .beforeafter[data-transition-delay="2"] {
  -webkit-transition-delay: 2s;
     -moz-transition-delay: 2s;
      -ms-transition-delay: 2s;
       -o-transition-delay: 2s;
          transition-delay: 2s;
}
#bob .beforeafter__left {
  left: -50px;
}
#bob .beforeafter__right {
  right: -50px;
}
#bob .beforeafter__left,
#bob .beforeafter__right {
  position: absolute;
  transition: background-image 0.15s ease;
  top: 40%;
  z-index: 4;
  width: 74px;
  height: 74px;
  background-size: contain;
}
@media only screen and (max-width: 768px) {
  #bob .beforeafter {
    max-width: 100%;
    width: 100%;
    margin: 45px 24px;
  }
  #bob .beforeafter__left {
    left: 10px;
  }
  #bob .beforeafter__right {
    right: 10px;
  }
  #bob .beforeafter__left,
  #bob .beforeafter__right {
    width: 45px;
    height: 45px;
    background-size: contain;
  }
}
@media only screen and (max-width: 567px) {
  #bob .beforeafter__left,
  #bob .beforeafter__right {
    width: 28px;
    height: 28px;
  }
}

#kurokami-campaign {
  padding-bottom: 1px;
}
#kurokami-campaign-inner {
  background: linear-gradient(125deg, rgba(167,147,224,1) 0%, rgba(211,200,239,1) 100%);
  border-radius: 4px;
  padding: 23px;
  color: #fff;
  position: relative;
  margin: 82px auto;
  max-width: 1110px;

}
#kurokami-campaign-content {
  border: 1px solid #fff;
  border-radius: 4px;
  padding-top: 103px;
  padding-bottom: 100px;
}
#kurokami-campaign-content h2 {
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "Noto Serif Japanese", serif, sans-serif;
  color: #fff;
  margin-bottom: 30px;
  text-align: center;
  font-size: 34px;
  font-weight: 600;
}

#kurokami-campaign-content-description {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
  font-size: 20px;
  margin: 0 auto 75px;
  text-align: center;
  max-width: 790px;
}
.campaign__stars {
  margin-top: -27px;
  width: 38px;
}
.campaign__arrow {
  width: 15px;
  opacity: 0;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.campaign__arrow.inviewed {
  opacity: 1;
  -webkit-transition: opacity 1s 2s;
     -moz-transition: opacity 1s 2s;
      -ms-transition: opacity 1s 2s;
       -o-transition: opacity 1s 2s;
          transition: opacity 1s 2s;

  -ms-filter: none;
      filter: none;
}
.campaign__steps {
  margin-top: 58px;
  margin-bottom: 67px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.campaign__step {
  width: 240px;
  height: 240px;
  text-align: center;
  position: relative;
  color: #564685;
  opacity: 0;
-webkit-transform: translateY(10px);
   -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
     -o-transform: translateY(10px);
        transform: translateY(10px);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.campaign__step.inviewed {
  opacity: 1;
  -webkit-transition: opacity 1s 0.5s, -webkit-transform 1s 0.5s;
     -moz-transition: opacity 1s 0.5s, -moz-transform 1s 0.5s;
      -ms-transition: opacity 1s 0.5s, -ms-transform 1s 0.5s;
       -o-transition: opacity 1s 0.5s, -o-transform 1s 0.5s;
          transition: opacity 1s 0.5s, transform 1s 0.5s;
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0);

  -ms-filter: none;
      filter: none;
}
.campaign__step[data-transition-delay="0.5"] {
  -webkit-transition-delay: 0.5s;
     -moz-transition-delay: 0.5s;
      -ms-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.campaign__step[data-transition-delay="1"] {
  -webkit-transition-delay: 1s;
     -moz-transition-delay: 1s;
      -ms-transition-delay: 1s;
       -o-transition-delay: 1s;
          transition-delay: 1s;
}
.campaign__step[data-transition-delay="1.5"] {
  -webkit-transition-delay: 1.5s;
     -moz-transition-delay: 1.5s;
      -ms-transition-delay: 1.5s;
       -o-transition-delay: 1.5s;
          transition-delay: 1.5s;
}
.campaign__background {
  max-width: 100%;
}
.campaign__step-text {
  font-size: 13px;
  line-height: 1.5;
}
.campaign__step-text p {
  margin: auto;
  max-width: 140px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.campaign__step__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 0;
  height: 100%;
}
.campaign__img {
  max-height: 55px !important;
}
.campaign__step-2 .campaign__img {
  max-height: 66px !important;
}
.campaign__step-3 .campaign__step-text p {
  margin-top: 85px;
}
.campaign__img--overlap {
  width: 60px;
}
.campaign__buttons {
  text-align: center;
  margin-top: 65px;
}
.kurokami-btn {
  min-width: 220px;
  background: #5A498E;
  border-color: #5A498E;
  font-size: 16px;
  font-weight: 600;
  padding: 21px 44px;
  color: #fff;
  border-radius: 4px;
  display: inline;
  transition: background 0.5s ease;
}
.kurokami-btn:hover {
  color: #fff;
}
.kurokami-btn--outline:hover {
  color: #5A498E;
}
.kurokami-btn--outline {
  background: transparent;
  color: #5A498E;
  border-color: #5A498E;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-top: 32px;
}
#tcModal {
  color: #564685;
}
.tc__list {
  text-align: left;
  margin: 24px 24px 24px 36px;
}
.tc__list li {
  list-style-type: decimal;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 1110px) {
  #kurokami-campaign-inner {
    border-radius: 0;
  }
  #kurokami-campaign-content {
    border-radius: 0;
  }
  .campaign__steps {
    width: 95%;
  }
  #kurokami-campaign {
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 900px) {
  #kurokami-campaign-content {
    padding: 83px 24px;
  }
  .campaign__steps {
    display: block;
    width: 100%;
  }
  .campaign__step {
    margin: 0 auto 40px;
  }
  .campaign__arrow {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .kurokami-btn:hover {
    background: #8376AA;
    color: #fff;
  }
  .kurokami-btn--outline:hover {
    background: rgba(225,225,225,0.30);
    color: #5A498E;
  }
}
@media only screen and (max-width: 768px) {
  .kurokami-btn {
    display: block;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}

#faq {
	margin-top: 110px;
	padding-bottom: 110px;
}
#faq-inner {
  max-width: 950px;
  margin: 0 auto;
}
.faq-item {
  margin-bottom: 60px;
}
.faq-item:after {
  content: "";
  display: table;
  clear: both;
}
.faq__text {
  margin-left: 120px;
}
.faq__question {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 1.5rem;
  color: #5A498E;
}
.faq__answer {
  font-size: 20px;
  color: #646464;
}
.faq__icon {
  width: 88px;
  height: 88px;
  flex-shrink: 0;
  font-size: 2.1rem;
  line-height: 5rem;
  text-align: center;
  float: left;
}
@media only screen and (max-width: 768px) {
  #faq {
    margin-top: 70px;
    padding-bottom: 70px;
  }
  .faq__question {
    font-size: 18px;
  }
  .faq__answer {
    font-size: 16px;
  }
  .faq__icon {
    width: 56px;
    height: 56px;
  }

  #faq-inner {
    padding-left: 24px;
    padding-right: 34px;
  }
  .faq__text {
    margin-left: 75px;
  }
}