.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.section__title {
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "Noto Serif Japanese", serif, sans-serif;
  color: #5a498e;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
  font-size: 34px;
  font-weight: 600;
}

.section__description {
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "Noto Serif Japanese", serif, sans-serif;
  font-size: 20px;
  line-height: 2.125;
  color: #343539;
  margin-bottom: 75px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .section__title {
    font-size: 28px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .section__description {
    margin-bottom: 45px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 16px;
  }
}

.beforeafter {
  position: relative;
  cursor: pointer;
  margin: 50px;
  text-align: center;
}

.beforeafter__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 2;
}

.before {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease;
}

.beforeafter.reveal-after .before {
  opacity: 0;
}

.beforeafter__left {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  left: -70px;
}

.beforeafter__left,
.beforeafter__right {
  background: url(../img/contents/kurokami/arrow.svg) no-repeat center;
  background-size: contain;
  box-shadow: none;
  border: 0;
  position: absolute;
  transition: background-image 0.15s ease;
  top: 30%;
  z-index: 4;
  width: 104px;
  height: 104px;
  -webkit-transition: background-position linear 0.5s;
  -moz-transition: background-position linear 0.5s;
  -o-transition: background-position linear 0.5s;
  transition: background-position linear 0.5s;
}

.beforeafter__left:focus,
.beforeafter__right:focus {
  outline: none;
}

.beforeafter__left:hover,
.beforeafter__right:hover {
  background-image: url(../img/contents/kurokami/arrow-hover.svg);
}

.beforeafter__left:hover {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.beforeafter__indicators {
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 10px;
  z-index: 100;
}

.indicator.active {
  background-color: #A897DA;
}

.indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #A897DA;
  margin: 0 6px;
  float: left;
}

.beforeafter__feature-color {
  margin: 30px auto 0;
  display: block;
  position: relative;
  background: none;
  border: 0;
}

.bob__feature-text {
  font-weight: 500;
  font-family: "Barlow", sans-serif;
  font-size: 13.6px;
  line-height: 1;
}

.beforeafter__feature-color:focus {
  outline: none;
}

@media only screen and (min-width: 567px) {
  .beforeafter__feature-color:hover .bob__color:before,
  .beforeafter__feature-color:focus .bob__color:before {
    animation-name: underlineAnimate;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
}

@keyframes underlineAnimate {
  from {
    visibility: hidden;
    width: 0;
  }

  to {
    visibility: visible;
    width: 100%;
  }
}

/* ==== video before and after ==== */

#video-before-after {
  padding-bottom: 50px;
  padding-top: 70px;
  text-align: center;
}

#beforeafter--video {
  max-width: 540px;
  margin: 60px auto 0;
  opacity: 0;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
  transition: opacity 1s, transform 1s;
}

#beforeafter--video.inviewed {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

#video-before-after .beforeafter__left {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  left: -65px;
}

#video-before-after .beforeafter__right {
  right: -65px;
}

#video-before-after .beforeafter__left,
#video-before-after .beforeafter__right {
  top: 40%;
}

@media only screen and (max-width: 768px) {
  #video-before-after {
    padding-bottom: 20px;
  }
  #video-before-after .beforeafter__left {
    left: 10px;
  }
  #video-before-after .beforeafter__right {
    right: 23px;
  }
  #video-before-after .beforeafter__left,
  #video-before-after .beforeafter__right {
    top: 45%;
    width: 45px;
    height: 45px;
  }
}

@media only screen and (max-width: 540px) {
  #video-before-after {
    padding-bottom: 0;
  }
  #video-before-after .beforeafter__left,
  #video-before-after .beforeafter__right {
    width: 28px;
    height: 28px;
  }

  #video-before-after .beforeafter__right {
    right: 10px;
  }
}

@media only screen and (min-width: 540px) {
  #video-before-after .beforeafter {
    opacity: 1;
  }

  #video-before-after .beforeafter__inner {
    transition: transform 0.6s;
  }

  #video-before-after .before {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  #video-before-after #beforeafter--video {
    max-width: 540px;
    height: 540px;
  }
}

/* ==== bob before and after ==== */

.beforeafter-wrapper {
  margin: 0 auto;
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#bob {
  padding-bottom: 120px;
  margin-top: 100px;
}

#bob .beforeafter {
  opacity: 0;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
  transition: opacity 1s 0.25s, transform 1s 0.25s;
  max-width: 380px;
  width: 50%;
  margin: 65px 75px;
}

#bob .beforeafter.inviewed {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

#bob .beforeafter[data-transition-delay="0.5"] {
  -webkit-transition-delay: 0.5s;
     -moz-transition-delay: 0.5s;
      -ms-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

#bob .before {
  position: absolute;
  width: 100%;
  height: 100%;
}

#bob .beforeafter__inner {
  transition: transform 0.6s;
}

#bob .beforeafter__left,
#bob .beforeafter__right {
  width: 74px;
  height: 74px;
}

#bob .beforeafter__left {
  left: -47px;
}

#bob .beforeafter__right {
  right: -47px;
}

@media only screen and (max-width: 1068px) {
  #bob .beforeafter {
    margin: 55px;
  }
}

@media only screen and (max-width: 992px) {
  #bob .beforeafter__left,
  #bob .beforeafter__right {
    width: 50px;
    height: 50px;
  }

  #bob .beforeafter__left {
    left: -30px;
  }

  #bob .beforeafter__right {
    right: -30px;
  }

  #bob .beforeafter {
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  #bob .beforeafter {
    margin-left: 0;
    margin-right: 0;
  }

  #bob .beforeafter__left,
  #bob .beforeafter__right {
    width: 36px;
    height: 36px;
    top: 35%;
  }

  #bob .beforeafter__left {
    left: 8px;
  }

  #bob .beforeafter__right {
    right: 8px;
  }
}

@media only screen and (max-width: 385px) {
  #bob .beforeafter {
    max-width: 300px;
    margin: 42px 7px 42px 15px;;
  }
}

/* ==== bob modal popup ==== */

.bob-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(63,48,109, .5);
  top: 0;
  left: 0;
  transition: opacity 0.5s ease;
  z-index: 100000;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit--moz-box-pack: center;
  box-pack: center;
  justify-content: center;
}

.bob-overlay.hidden {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.bob-modal {
  position: relative;
  max-width: 520px;
  width: 98%;
  background: #fff;
  padding: 60px;
  border: 1px solid #ccc;
  max-height: 85vh;
  overflow: scroll;
  color: #231815;
}

.bob-modal--wide {
  max-width: 700px;
}

.bob-modal--med {
  max-width: 600px;
}

.bob-modal-content.hidden {
  display: none;
}

.bob-modal p {
  font-family: YakuHanJP, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", Meiryo, sans-serif;
  text-align: left;
  font-size: 20px;
}

.bob-modal img {
  width: 100%;
}

#closeBobModal {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: 0;
}

#closeBobModal svg {
  width: 30px;
  fill: #ccc;
  transition: fill 0.5s ease;
}

#closeBobModal svg:hover {
  fill: #999;
}

.bob-modal .bob__feature-text {
  font-size: 16px;
}

.bob-modal__heading {
  font-family: "Barlow", sans-serif;
  text-align: left;
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 25px;
  font-weight: 600;
  color: #231815;
}

.bob__color {
  text-align: left;
  font-size: 48px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 500;
  font-family: "Barlow", sans-serif;
  position: relative;
}

.bob__color:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  bottom: 0;
  left: 0;
}

.bob__color--BLOSSOM {
  color: #E85298;
}

.bob__color--BLOSSOM:before {
  background-color: #E85298;
}

.bob__color--STARDUST {
  color: #687271;
}

.bob__color--STARDUST:before {
  background-color: #687271;
}

.bob-modal__stats {
  margin-top: 30px;
}

.bob-modal__stat {
  margin: 10px 0 50px;
}

.bob-modal__recipe {
  margin-bottom: 10px;
  font-family: YakuHanJP, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", Meiryo, sans-serif;
  font-size: 24px;
  text-align: left;
  overflow: auto;
}

.bob-modal__recipes {
  overflow: auto;
}

.bob-modal__recipe:after,
.bob-modal__recipes:after {
  content: "";
  clear: both;
  display: table;
}

.bob-modal__recipe-heading {
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  font-family: YakuHanJP, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", Meiryo, sans-serif;
  position: relative;
  margin-bottom: 30px;
  line-height: 1.6;
}

.bob-modal__recipe-section {
  white-space: nowrap;
  margin-right: 5px;
  position: relative;
  line-height: 1;
  float: left;
  margin-top: -4px;
  padding-right: 22px;
  margin-bottom: 10px;
}

.bob-modal__recipe-section:after {
  content: "：";
  position: absolute;
  right: -3px;
  bottom: 0;
}

.bob-modal__recipe-section:last-child:after {
  content: "";
}

.bob-modal__recipe-section--no-tag {
  clear: left;
  margin-top: 10px;
}

.bob-modal__recipe .number {
  background: #343539;
  border-radius: 2px;
  color: #fff;
  width: 24px;
  padding: 10px 0;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  margin-right: 16px;
  letter-spacing: 0px;
  line-height: 1.1;
  float: left;
}

.bob-modal__recipe .tag {
  font-family: "Barlow", sans-serif;
  color: #fff;
  border-radius: 10px;
  font-weight: 600;
  text-align: left;
  padding: 2px 10px 3px;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1;
}

.bob-modal__recipe .tag--color--NUDE {
  background: #D0B7A4;
}

.bob-modal__recipe .tag--color--BLOSSOM {
  background: #E85298;
}

.bob-modal__recipe .tag--color--DEEPSEA {
  background: #2783D3;
}

.bob-modal__recipe .tag--color--STARDUST {
  background: #687271;
}

.bob-modal__recipe .tag--color--FOREST {
  background: #9CC6A2;
}

.bob-modal__recipe .tag--color--SAFARI {
  background: #906D58;
}

.bob-modal__recipe .tag--color--ORCHID {
  background: #705C87;
}

p.bob-modal__description {
  font-size: 16px;
}

.bob-modal__stylist {
  font-family: YakuHanJP, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", Meiryo, sans-serif;
  border-top: 1px solid #D4D6DA;
  margin-top: 50px;
  padding-top: 30px;
  display: flex;
  font-size: 16px;
}

.bob-modal__stylist-info {
  text-align: left;
}

.bob-modal__stylist img {
  align-self: start;
  width: 140px;
  margin-right: 25px;
}

.bob-modal__stylist p {
  font-size: 13px;
  line-height: 1.8;
  margin-top: 20px;
  margin-bottom: 0;
}

.bob-modal__stylist-info-heading {
  font-weight: 600;
}

.bob-modal__stylist-info-heading h4,
.bob-modal__stylist-info-heading .stylistDescription {
  text-align: left;
  font-size: 18px;
  font-weight: 600;
}

.bob-modal__stylist-info-heading .stylistDescription2 {
  font-size: 13px;
  font-weight: 500;
}

.bob-modal::-webkit-scrollbar {
    width: 14px;
    height: 18px;
}
.bob-modal::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 7px;
    background-color: #D1E5F3;
}
.bob-modal::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
.bob-modal::-webkit-scrollbar-corner {
    background-color: transparent;
}

@media only screen and (max-width: 567px) {
  .bob-modal {
    padding: 35px 25px 25px;
    width: 90%;
  }

  #closeBobModal {
    top: 3px;
    right: 3px;
  }

  .bob-modal p {
    font-size: 16px;
  }

  .bob-modal__stat {
    font-size: 20px;
  }

  .bob-modal__stylist {
    display: block;
    text-align: left;
  }

  .bob-modal__stylist-info {
    margin-top: 30px;
  }
}

#kurokami-campaign {
  padding-bottom: 1px;
  border-radius: 4px;
}
#kurokami-campaign-inner {
  background: url(../img/contents/kurokami/campaign/banner-bg-blue.png) no-repeat 98%;
  background-size: cover;
  padding: 23px;
  color: #fff;
  position: relative;
  margin: 82px auto;
  max-width: 1110px;
  border-radius: 4px;
}
#kurokami-campaign-title {
  letter-spacing: 1.4px;
}
#kurokami-campaign-title::after {
  content: "";
  height: 1px;
  width: 75.5px;
  background: #fff;
  margin: 37px auto;
  display: block;
}
.kurokami-campaign__flex {
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit--moz-box-pack: center;
  box-pack: center;
  justify-content: center;
  line-height: 1.6;
}
#kurokami-campaign-content {
  border: 1px solid #fff;
  padding-top: 103px;
  padding-bottom: 100px;
  position: relative;
}
#kurokami-campaign-content h2 {
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "Noto Serif Japanese", serif, sans-serif;
  color: #fff;
  margin-bottom: 30px;
  text-align: center;
  font-size: 34px;
  font-weight: 600;
}

#kurokami-campaign-content-description {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
  font-size: 20px;
  margin: 0 auto 75px;
  text-align: center;
  max-width: 805px;
}
.campaign__stars {
  width: 38px;
}
.campaign__arrow {
  width: 15px;
  opacity: 0;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.campaign__arrow svg {
  height: 100%;
  display: block;
}
.campaign__arrow.inviewed {
  opacity: 1;
  -webkit-transition: opacity 1s 0.75s;
     -moz-transition: opacity 1s 0.75s;
      -ms-transition: opacity 1s 0.75s;
       -o-transition: opacity 1s 0.75s;
          transition: opacity 1s 0.75s;

  -ms-filter: none;
      filter: none;
}
.campaign__steps {
  margin-top: 58px;
  margin-bottom: 67px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.campaign__step {
  width: 240px;
  text-align: center;
  position: relative;
  color: #564685;
  opacity: 0;
-webkit-transform: translateY(10px);
   -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
     -o-transform: translateY(10px);
        transform: translateY(10px);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.campaign__step.inviewed {
  opacity: 1;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
     -moz-transition: opacity 1s, -moz-transform 1s;
      -ms-transition: opacity 1s, -ms-transform 1s;
       -o-transition: opacity 1s, -o-transform 1s;
          transition: opacity 1s, transform 1s;
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0);

  -ms-filter: none;
      filter: none;
}
.campaign__step-2.inviewed {
  -webkit-transition-delay: 0.25s;
     -moz-transition-delay: 0.25s;
      -ms-transition-delay: 0.25s;
       -o-transition-delay: 0.25s;
          transition-delay: 0.25s;
}
.campaign__step-3.inviewed {
  -webkit-transition-delay: 0.5s;
     -moz-transition-delay: 0.5s;
      -ms-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.campaign__background {
  max-width: 100%;
}
.campaign__step-text {
  font-size: 16px;
  line-height: 1.5;
  position: absolute;
  top: 47%;
  left: 0;
  color: #1A5BA6;
  width: 100%;
  text-align: center;
}
.campaign__details {
  font-size: 16px;
  text-align: center;
  margin-top: 40px;
  line-height: 1.5;
}
.campaign__details h4 {
  font-weight: 600;
  margin-bottom: 10px;
}
.campaign__egift {
  background: #fff;
  border-radius: 4px;
  color: #1A5BA6;
  width: 80%;
  margin: 40px auto 0;
  text-align: center;
  padding: 40px 60px;
  font-size: 16px;
}
.campaign__egift h3 {
  font-weight: 600;
  margin-bottom: 25px;
}
.campaign__egift__logos {
  margin-top: 25px;
}
.campaign__egift__logos img {
  margin: 0 5px;
}
.logo-amazon {
  width: 128px;
}
.logo-apple {
  width: 79px;
}
.logo-nanaco {
  width: 102px;
}
.logo-redy {
  width: 31px;
}
.campaign__tc {
  font-size: 8px;
  color: #929292;
  margin-top: 25px;
  line-height: 1.5;
}
.campaign__buttons {
  text-align: center;
  margin-top: 65px;
}
.kurokami-btn {
  min-width: 220px;
  background: #5A498E;
  border-color: #5A498E;
  font-size: 16px;
  font-weight: 600;
  padding: 21px 44px;
  color: #fff;
  border-radius: 4px;
  display: inline-block;
  transition: background 0.5s ease;
}
.kurokami-btn:hover {
  color: #fff;
}
.kurokami-btn--outline:hover {
  color: #5A498E;
  border-color: #5A498E;
}
.kurokami-btn--outline {
  background: transparent;
  color: #5A498E;
  border: 1px solid #5A498E;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  padding: 11px 20px;
  margin-top: 32px;
}
#tcModal {
  color: #564685;
}
.tc__section {
  margin-bottom: 60px;
}
.modal-dialog {
  max-width: 980px;
}
.modal-body {
  padding: 0 100px 100px;
  font-size: 20px;
  line-height: 40px;
}
.modal-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 60px;
}
.modal-header {
  padding: 100px 100px 0;
  border: 0;
}
button.close {
  position: absolute;
  right: 50px;
  top: 50px;
}
@media only screen and (max-width: 1110px) {
  .campaign__steps {
    width: 95%;
  }
  #kurokami-campaign {
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 900px) {
  #kurokami-campaign-content {
    padding: 83px 24px;
  }
  .campaign__steps {
    display: block;
    width: 100%;
  }
  .campaign__step {
    margin: 0 auto 20px;
  }
  .campaign__arrow {
    transform: rotate(90deg);
    margin: 0 auto 20px;
  }
  .campaign__arrow svg {
    display: inline;
  }
}
@media only screen and (min-width: 768px) {
  .kurokami-btn:hover {
    background: #3F306D;
    color: #fff;
  }
  .kurokami-btn--outline:hover {
    background: rgba(225,225,225,0.30);
    color: #5A498E;
  }
}
@media only screen and (max-width: 768px) {
  .kurokami-campaign__flex {
    display: block;
  }
  .campaign__stars--right {
    display: none;
  }
  .campaign__stars-left {
    display: block;
    margin: 0 auto 20px;
  }
  #kurokami-campaign-content h2 {
    font-size: 28px;
  }
  #kurokami-campaign-content-description {
    font-size: 16px;
  }
  .kurokami-btn {
    display: block;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    min-width: unset;
    padding: 21px;
  }
  .campaign__egift {
    background: #fff;
    border-radius: 4px;
    color: #1A5BA6;
    width: 90%;
    margin: 40px auto 70px;
    text-align: center;
    padding: 20px;
    font-size: 16px;
  }
  .modal-body {
    padding: 60px;
  }
}

@media only screen and (max-width: 540px) {
  #kurokami-campaign-inner {
    margin-top: 0;
    border-radius: 0;
  }

  #kurokami-campaign-content {
    border-radius: 0;
    border: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 48px;
  }
}

@media only screen and (max-width: 480px) {
  .modal-body {
    padding: 20px;
    font-size: 16px;
  }

  .modal-title {
    font-size: 20px;
  }

  button.close {
    right: 20px;
    top: 20px;
  }
}

#faq {
  margin-top: 110px;
  padding-bottom: 110px;
}
#faq .section__title {
  margin-bottom: 88px;
}
#faq-inner {
  max-width: 925px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 34px
}
.faq-item {
  margin-bottom: 60px;
}
.faq-item:after {
  content: "";
  display: table;
  clear: both;
}
.faq__text {
  margin-left: 120px;
}
.faq__question {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  color: #5A498E;
}
.faq__answer {
  font-size: 20px;
  color: #646464;
}
.faq__icon {
  width: 88px;
  height: 88px;
  flex-shrink: 0;
  font-size: 2.1rem;
  line-height: 5rem;
  text-align: center;
  float: left;
}
@media only screen and (max-width: 768px) {
  #faq {
    margin-top: 70px;
    padding-bottom: 70px;
  }
  .faq__question {
    font-size: 18px;
  }
  .faq__answer {
    font-size: 16px;
  }
  .faq__icon {
    width: 56px;
    height: 56px;
  }
  .faq__text {
    margin-left: 75px;
  }
}