.gradient-border {
  width: 100%;
  height: 12px;
  background: rgb(254,200,155);
  background: linear-gradient(90deg, rgba(254,200,155,1) 0%, rgba(255,162,160,1) 33%, rgba(253,173,243,1) 66%, rgba(144,220,254,1) 100%);
}

.section__icon {
  width: 48px;
  margin-bottom: 40px;
}
.section__title {
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "Noto Serif Japanese", serif, sans-serif;
  color: #5a498e;
  margin-bottom: 30px;
  text-align: center;
  font-size: 34px;
  font-weight: 600;
}

.section__description {
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "Noto Serif Japanese", serif, sans-serif;
  font-size: 20px;
  color: #343539;
  margin-bottom: 75px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .section__title {
    font-size: 28px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .section__description {
    margin-bottom: 45px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.beforeafter {
  position: relative;
  cursor: pointer;
  margin: 50px;
  text-align: center;
}

.beforeafter__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 2;
}

.before {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease;
}

.beforeafter.reveal-after .before {
  opacity: 0;
}

.beforeafter__left {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  left: -70px;
}

.beforeafter__left,
.beforeafter__right {
  background: url(../img/contents/kurokami/arrow.svg) no-repeat center;
  background-size: contain;
  box-shadow: none;
  border: 0;
  position: absolute;
  transition: background-image 0.15s ease;
  top: 37%;
  z-index: 4;
  width: 104px;
  height: 104px;
  -webkit-transition: background-position linear 0.5s;
  -moz-transition: background-position linear 0.5s;
  -o-transition: background-position linear 0.5s;
  transition: background-position linear 0.5s;

}

.beforeafter__left:focus,
.beforeafter__right:focus,
.beforeafter__left:hover,
.beforeafter__right:hover {
  background-image: url(../img/contents/kurokami/arrow-hover.svg);
  outline: none;
}

.beforeafter__left:hover {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.beforeafter__indicators {
  margin-top: 28px;
  display: inline-block; 
}

.indicator.active {
  background-color: #FFA1C2;
}

.indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #FFA1C2;
  margin: 0 6px;
  float: left;
}

/* ==== video before and after ==== */

#video-before-after {
  padding-bottom: 50px;
  padding-top: 70px;
  text-align: center;
}

#beforeafter--video {
  max-width: 540px;
  margin: 60px auto 0;
  opacity: 0;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
  transition: opacity 1s, transform 1s;
}

#beforeafter--video.inviewed {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

#video-before-after .beforeafter__left {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  left: -81px;
}

#video-before-after .beforeafter__right {
  right: -57px;
}

@media only screen and (max-width: 768px) {
  #video-before-after {
    padding-bottom: 20px;
  }
  #video-before-after .beforeafter__left {
    left: 10px;
  }
  #video-before-after .beforeafter__right {
    right: 23px;
  }
  #video-before-after .beforeafter__left,
  #video-before-after .beforeafter__right {
    top: 45%;
    width: 45px;
    height: 45px;
  }
}

@media only screen and (max-width: 540px) {
  #video-before-after .beforeafter__left,
  #video-before-after .beforeafter__right {
    width: 28px;
    height: 28px;
  }

  #video-before-after .beforeafter__right {
    right: 10px;
  }
}

@media only screen and (min-width: 540px) {
  #video-before-after .gradient-border {
    display: none;
  }

  #video-before-after .beforeafter {
    perspective: 1000px;
    background: linear-gradient(90deg, rgba(254,200,155,1) 0%, rgba(255,162,160,1) 33%, rgba(253,173,243,1) 66%, rgba(144,220,254,1) 100%);  
  opacity: 1;
  }

  #video-before-after .beforeafter__inner {
    transition: transform 0.6s;
  }

  #video-before-after .beforeafter.reveal-after .beforeafter__inner {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  #video-before-after .before,
  #video-before-after .after {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    backface-visibility: hidden;
  }

  #video-before-after .after {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  #video-before-after #beforeafter--video {
    max-width: 540px;
    height: 540px;
  }

  #video-before-after .before,
  #video-before-after .after {
    bottom: 12px;
  }

  #video-before-after .before {
    right: 12px;
  }

  #video-before-after .after {
    left: 12px;
  }
}

/* ==== bob before and after ==== */

.beforeafter-wrapper {
  margin: 0 auto;
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#bob {
  padding-bottom: 120px;
}

#bob .beforeafter {
  opacity: 0;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
  transition: opacity 1s 0.25s, transform 1s 0.25s;
  height: 380px;
  max-width: 380px;
  perspective: 1000px;
  background: linear-gradient(90deg, rgba(254,200,155,1) 0%, rgba(255,162,160,1) 33%, rgba(253,173,243,1) 66%, rgba(144,220,254,1) 100%);  
  width: 50%;
  margin: 65px 75px;
}

#bob .beforeafter.inviewed {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

#bob .beforeafter[data-transition-delay="0.5"] {
  -webkit-transition-delay: 0.5s;
     -moz-transition-delay: 0.5s;
      -ms-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

#bob .before,
#bob .after {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  backface-visibility: hidden;
  bottom: 12px;
}

#bob .before {
  right: 12px;
}

#bob .after {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  left: 12px;
}

#bob .beforeafter__inner {
  transition: transform 0.6s;
}

#bob .beforeafter.reveal-after .beforeafter__inner {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#bob .beforeafter__left,
#bob .beforeafter__right {
  width: 74px;
  height: 74px;
}

#bob .beforeafter__left {
  left: -50px;
}

#bob .beforeafter__right {
  right: -37px;
}

@media only screen and (max-width: 1068px) {
  #bob .beforeafter {
    margin: 55px;
  }
}

@media only screen and (max-width: 992px) {
  #bob .beforeafter__left,
  #bob .beforeafter__right {
    width: 50px;
    height: 50px;
  }

  #bob .beforeafter__left {
    left: -45px;
  }

  #bob .beforeafter__right {
    right: -21px;
  }

  #bob .beforeafter {
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  #bob .beforeafter {
    margin-left: 0;
    margin-right: 0;
  }

  #bob .beforeafter__left,
  #bob .beforeafter__right {
    width: 36px;
    height: 36px;
    top: 45%;
  }

  #bob .beforeafter__left {
    left: 8px;
  }

  #bob .beforeafter__right {
    right: 18px;
  }
}

@media only screen and (max-width: 385px) {
  #bob .beforeafter {
    height: 300px;
    max-width: 300px;
    margin: 42px 7px 42px 15px;;
  }
  #bob .before,
  #bob .after {
    bottom: 8px;
  }

  #bob .before {
    right: 8px;
  }

  #bob .after {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    left: 8px;
  }
}

#kurokami-campaign {
  padding-bottom: 1px;
}
#kurokami-campaign-inner {
  background: #CC9FFF url(../img/contents/top/banner-bg.png) no-repeat;
  background-size: cover;  padding: 23px;
  color: #fff;
  position: relative;
  margin: 82px auto;
  max-width: 1110px;

}
#kurokami-campaign-content {
  border: 1px solid #fff;
  padding-top: 103px;
  padding-bottom: 100px;
  position: relative;
}
.campaign__border {
  position: absolute;
  width: 43px;
  height: 43px;
}
.campaign__border--top-left {
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  top: 10px;
  left: 10px;
}
.campaign__border--top-right {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  top: 10px;
  right: 10px;
}
.campaign__border--bottom-left {
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  bottom: 10px;
  left: 10px;
}
.campaign__border--bottom-right {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  bottom: 10px;
  right: 10px;
}
#kurokami-campaign-content h2 {
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "Noto Serif Japanese", serif, sans-serif;
  color: #fff;
  margin-bottom: 30px;
  text-align: center;
  font-size: 34px;
  font-weight: 600;
}

#kurokami-campaign-content-description {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
  font-size: 20px;
  margin: 0 auto 75px;
  text-align: center;
  max-width: 790px;
}
.campaign__stars {
  margin-top: -37px;
  width: 38px;
}
.campaign__arrow {
  width: 15px;
  opacity: 0;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.campaign__arrow svg {
  height: 100%;
  display: block;
}
.campaign__arrow.inviewed {
  opacity: 1;
  -webkit-transition: opacity 1s 0.75s;
     -moz-transition: opacity 1s 0.75s;
      -ms-transition: opacity 1s 0.75s;
       -o-transition: opacity 1s 0.75s;
          transition: opacity 1s 0.75s;

  -ms-filter: none;
      filter: none;
}
.campaign__steps {
  margin-top: 58px;
  margin-bottom: 67px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.campaign__step {
  width: 240px;
  height: 240px;
  text-align: center;
  position: relative;
  color: #564685;
  opacity: 0;
-webkit-transform: translateY(10px);
   -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
     -o-transform: translateY(10px);
        transform: translateY(10px);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.campaign__step.inviewed {
  opacity: 1;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
     -moz-transition: opacity 1s, -moz-transform 1s;
      -ms-transition: opacity 1s, -ms-transform 1s;
       -o-transition: opacity 1s, -o-transform 1s;
          transition: opacity 1s, transform 1s;
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0);

  -ms-filter: none;
      filter: none;
}
.campaign__step-2.inviewed {
  -webkit-transition-delay: 0.25s;
     -moz-transition-delay: 0.25s;
      -ms-transition-delay: 0.25s;
       -o-transition-delay: 0.25s;
          transition-delay: 0.25s;
}
.campaign__step-3.inviewed {
  -webkit-transition-delay: 0.5s;
     -moz-transition-delay: 0.5s;
      -ms-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.campaign__background {
  max-width: 100%;
}
.campaign__step-text {
  font-size: 13px;
  line-height: 1.5;
}
.campaign__step-text p {
  margin: auto;
  max-width: 140px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.campaign__step__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 0;
  height: 100%;
}
.campaign__img {
  max-height: 55px !important;
}
.campaign__step-2 .campaign__img {
  max-height: 66px !important;
}
.campaign__step-3 .campaign__step-text p {
  margin-top: 85px;
}
.campaign__img--overlap {
  width: 60px;
}
.campaign__buttons {
  text-align: center;
  margin-top: 65px;
}
.kurokami-btn {
  min-width: 220px;
  background: #5A498E;
  border-color: #5A498E;
  font-size: 16px;
  font-weight: 600;
  padding: 21px 44px;
  color: #fff;
  border-radius: 4px;
  display: inline;
  transition: background 0.5s ease;
}
.kurokami-btn:hover {
  color: #fff;
}
.kurokami-btn--outline:hover {
  color: #5A498E;
  border-color: #5A498E;
}
.kurokami-btn--outline {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-top: 32px;
}
#tcModal {
  color: #564685;
}
.tc__list {
  text-align: left;
  margin: 24px 24px 24px 36px;
}
.tc__list li {
  list-style-type: decimal;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 1110px) {
  .campaign__steps {
    width: 95%;
  }
  #kurokami-campaign {
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 900px) {
  #kurokami-campaign-content {
    padding: 83px 24px;
  }
  .campaign__steps {
    display: block;
    width: 100%;
  }
  .campaign__step {
    margin: 0 auto 40px;
  }
  .campaign__arrow {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .kurokami-btn:hover {
    background: #3F306D;
    color: #fff;
  }
  .kurokami-btn--outline:hover {
    background: rgba(225,225,225,0.30);
    color: #5A498E;
  }
}
@media only screen and (max-width: 768px) {
  .kurokami-btn {
    display: block;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}

#faq {
	margin-top: 110px;
	padding-bottom: 110px;
}
#faq .section__title {
  margin-bottom: 88px;
}
#faq-inner {
  max-width: 925px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 34px
}
.faq-item {
  margin-bottom: 60px;
}
.faq-item:after {
  content: "";
  display: table;
  clear: both;
}
.faq__text {
  margin-left: 120px;
}
.faq__question {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 1.5rem;
  color: #5A498E;
}
.faq__answer {
  font-size: 20px;
  color: #646464;
}
.faq__icon {
  width: 88px;
  height: 88px;
  flex-shrink: 0;
  font-size: 2.1rem;
  line-height: 5rem;
  text-align: center;
  float: left;
}
@media only screen and (max-width: 768px) {
  #faq {
    margin-top: 70px;
    padding-bottom: 70px;
  }
  .faq__question {
    font-size: 18px;
  }
  .faq__answer {
    font-size: 16px;
  }
  .faq__icon {
    width: 56px;
    height: 56px;
  }
  .faq__text {
    margin-left: 75px;
  }
}