/* color
=================================================================== */
/* common
=================================================================== */
/* layout
=================================================================== */
/* animation delay
=================================================================== */
/* 3d
=================================================================== */
/* font
=================================================================== */
/* form
=================================================================== */
@-webkit-keyframes closeAnime {
  0% {
    top: 27px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  50% {
    top: 27px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    top: 24px;
    -webkit-transform: rotate(0);
    transform: rotate(0); } }
@keyframes closeAnime {
  0% {
    top: 27px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  50% {
    top: 27px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    top: 24px;
    -webkit-transform: rotate(0);
    transform: rotate(0); } }

@-webkit-keyframes closeAnime2 {
  0% {
    top: 27px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  50% {
    top: 27px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    top: 30px;
    -webkit-transform: rotate(0);
    transform: rotate(0); } }

@keyframes closeAnime2 {
  0% {
    top: 27px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  50% {
    top: 27px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    top: 30px;
    -webkit-transform: rotate(0);
    transform: rotate(0); } }

@-webkit-keyframes closeBackAnime {
  0% {
    top: 24px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  50% {
    top: 27px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    top: 27px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); } }

@keyframes closeBackAnime {
  0% {
    top: 24px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  50% {
    top: 27px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    top: 27px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); } }

@-webkit-keyframes closeBackAnime2 {
  0% {
    top: 30px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  50% {
    top: 27px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    top: 27px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); } }

@keyframes closeBackAnime2 {
  0% {
    top: 30px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  50% {
    top: 27px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    top: 27px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); } }

/*anime__sp
===============================================================*/
@-webkit-keyframes closeAnimeSp {
  0% {
    top: 20px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  50% {
    top: 20px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    top: 17px;
    -webkit-transform: rotate(0);
    transform: rotate(0); } }
@keyframes closeAnimeSp {
  0% {
    top: 20px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  50% {
    top: 20px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    top: 17px;
    -webkit-transform: rotate(0);
    transform: rotate(0); } }

@-webkit-keyframes closeAnimeSp2 {
  0% {
    top: 20px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  50% {
    top: 20px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    top: 23px;
    -webkit-transform: rotate(0); } }

@keyframes closeAnimeSp2 {
  0% {
    top: 20px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  50% {
    top: 20px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    top: 23px;
    -webkit-transform: rotate(0); } }

@-webkit-keyframes closeBackAnimeSp {
  0% {
    top: 17px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  50% {
    top: 20px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    top: 20px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); } }

@keyframes closeBackAnimeSp {
  0% {
    top: 17px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  50% {
    top: 20px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    top: 20px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); } }

@-webkit-keyframes closeBackAnimeSp2 {
  0% {
    top: 23px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  50% {
    top: 20px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    top: 20px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); } }

@keyframes closeBackAnimeSp2 {
  0% {
    top: 23px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  50% {
    top: 20px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    top: 20px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); } }

/* product
=================================================================== */
/* product__clo--2
=================================================================== */
.product__clo--2 > ul {
  margin-right: -40px; }
  .product__clo--2 > ul > li {
    float: left;
    width: calc(50% - 40px);
    margin-right: 40px; }

/* product__clo--3
=================================================================== */
.product__clo--3 ul {
  margin-right: -50px; }
  .product__clo--3 ul li {
    float: left;
    width: calc(100% / 3 - 50px);
    margin-right: 50px; }

/* product__h4
=================================================================== */
h4 {
  font-size: 30px;
  text-align: center;
  line-height: 1;
  margin-bottom: 45px; }
  h4.product__step--title {
    line-height: 1.6;
    margin-bottom: 70px; }
    h4.product__step--title strong {
      display: block;
      text-indent: -9999px;
      height: 110px;
      background: url(../img/contents/product/cc__logo.svg) no-repeat center top;
      background-size: auto 100%;
      margin-bottom: 30px; }
    h4.product__step--title aside {
      font-size: 18px; }
  h4.product__lineup--title {
    margin-bottom: 60px; }

/*common
--------------------------------------------------------- */
.inner .article .product__top {
  position: relative;
  overflow: hidden;
  height: 247px;
  opacity: 0; }
  .inner .article .product__top ul {
    position: absolute;
    width: 2470px;
    height: 100%;
    top: 0;
    left: 0; }
    .inner .article .product__top ul li {
      float: left;
      width: 247px;
      height: 100%;
      background-size: 100% auto !important; }
      .inner .article .product__top ul li:nth-child(1), .inner .article .product__top ul li:nth-child(14) {
        background: url(../img/contents/product/slider__img--1.jpg) no-repeat center center;
      }
      .inner .article .product__top ul li:nth-child(2), .inner .article .product__top ul li:nth-child(15) {
        background: url(../img/contents/product/slider__img--stardust.jpg) no-repeat center center;
      }
      .inner .article .product__top ul li:nth-child(3), .inner .article .product__top ul li:nth-child(16) {
        background: url(../img/contents/product/slider__img--2.jpg) no-repeat center center;
      }
      .inner .article .product__top ul li:nth-child(4), .inner .article .product__top ul li:nth-child(17) {
        background: url(../img/contents/product/slider__img--3.jpg) no-repeat center center;
      }
      .inner .article .product__top ul li:nth-child(5), .inner .article .product__top ul li:nth-child(18) {
        background: url(../img/contents/product/slider__img--4.jpg) no-repeat center center;
      }
      .inner .article .product__top ul li:nth-child(6), .inner .article .product__top ul li:nth-child(19) {
        background: url(../img/contents/product/slider__img--5.jpg) no-repeat center center;
      }
      .inner .article .product__top ul li:nth-child(7), .inner .article .product__top ul li:nth-child(20) {
        background: url(../img/contents/product/slider__img--6.jpg) no-repeat center center;
      }
      .inner .article .product__top ul li:nth-child(8), .inner .article .product__top ul li:nth-child(21) {
        background: url(../img/contents/product/slider__img--blossom.jpg) no-repeat center center;
      }
      .inner .article .product__top ul li:nth-child(9), .inner .article .product__top ul li:nth-child(22) {
        background: url(../img/contents/product/slider__img--7.jpg) no-repeat center center;
      }
      .inner .article .product__top ul li:nth-child(10), .inner .article .product__top ul li:nth-child(23) {
        background: url(../img/contents/product/slider__img--deepsea.jpg) no-repeat center center;
      }
      .inner .article .product__top ul li:nth-child(11), .inner .article .product__top ul li:nth-child(24) {
        background: url(../img/contents/product/slider__img--8.jpg) no-repeat center center;
      }
      .inner .article .product__top ul li:nth-child(12), .inner .article .product__top ul li:nth-child(25) {
        background: url(../img/contents/product/slider__img--9.jpg) no-repeat center center;
      }
      .inner .article .product__top ul li:nth-child(13), .inner .article .product__top ul li:nth-child(26) {
        background: url(../img/contents/product/slider__img--10.jpg) no-repeat center center;
      }

.inner .article .product__contents--title {
  margin-bottom: 128px; }
  .inner .article .product__contents--title h3 {
    text-indent: -9999px;
    width: 407px;
    height: 46px;
    background: url(../img/contents/product/illumina--logo.png) no-repeat center center;
    background-size: 100% auto;
    margin: 0 auto 30px; }
  .inner .article .product__contents--title p {
    font-size: 16px; }

.inner .article .product__tips > ul > li:nth-child(1) {
  text-indent: -9999px;
  padding-top: calc(363 / 1130 * 100%);
  height: 0;
  background: url(../img/contents/product/illumina--img.jpg) no-repeat top center;
  background-size: 100% auto; }

.inner .article .product__tips > ul > li:nth-child(2) strong {
  background-image: -webkit-linear-gradient(left, #d1c9e0 0%, #f4f2f7 100%);
  background-image:    -moz-linear-gradient(left, #d1c9e0 0%, #f4f2f7 100%);
  background-image:      -o-linear-gradient(left, #d1c9e0 0%, #f4f2f7 100%);
  background-image:     -ms-linear-gradient(left, #d1c9e0 0%, #f4f2f7 100%);
  background-image:         linear-gradient(to right, #d1c9e0 0%, #f4f2f7 100%);
  font-weight: normal;
  display: inline-block;
  vertical-align: bottom;
  line-height: 2.5;
  padding: 0 0.75em;
  margin-bottom: 30px; }
  .inner .article .product__tips > ul > li:nth-child(2) strong span {
    display: inline-block;
    margin: 0 -0.107142857142857em;
    -webkit-transform: translateY(-0.2em) scale(0.571428571428571);
    -moz-transform: translateY(-0.2em) scale(0.571428571428571);
    -ms-transform: translateY(-0.2em) scale(0.571428571428571);
    -o-transform: translateY(-0.2em) scale(0.571428571428571);
    transform: translateY(-0.2em) scale(0.571428571428571);
  }
.inner .article .product__tips > ul > li:nth-child(2) .product__tips--contents {
  margin-bottom: 20px; }
  .inner .article .product__tips > ul > li:nth-child(2) .product__tips--contents dt {
    font-size: 21px;
    line-height: 1;
    margin-bottom: 25px; }
  .inner .article .product__tips > ul > li:nth-child(2) .product__tips--contents dd {
    position: relative;
    font-size: 15px;
    color: #848484;
    padding-left: 40px;
    margin-bottom: 10px; }
    .inner .article .product__tips > ul > li:nth-child(2) .product__tips--contents dd span {
      display: block;
      position: absolute;
      width: 35px;
      height: 1em;
      top: 5px;
      left: 0;
      font-size: 19px;
      font-family: 'MyWebFont';
      letter-spacing: 0.18em;
      font-style: normal;
      line-height: 1;
      color: #5a498e;
      margin-right: 10px; }

.inner .article .product__tips > ul > li:nth-child(2) .product__tips--aside {
  color: #adadad; }
  .inner .article .product__tips > ul > li:nth-child(2) .product__tips--aside dt {
    font-size: 12px;
    line-height: 1;
    margin-bottom: 12px; }
  .inner .article .product__tips > ul > li:nth-child(2) .product__tips--aside dd {
    font-size: 11px; }
    .inner .article .product__tips > ul > li:nth-child(2) .product__tips--aside dd ul li {
      padding-left: 1em;
      text-indent: -1em; }
    .inner .article .product__tips > ul > li:nth-child(2) .product__tips--aside dd:nth-of-type(2) {
      text-align: right;
      color: #5a498e;
      transform: scale(0.8);
      transform-origin: right;
      padding-top: 1em; }

.inner .article .product__tech {
  margin-bottom: 120px; }
  .inner .article .product__tech > p {
    text-align: center;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 30px; }
  .inner .article .product__tech ul li dl dt {
    text-indent: -9999px;
    padding-top: calc(432 / 686 * 100%);
    margin-bottom: 20px;
    background-size: 100% auto !important; }
  .inner .article .product__tech ul li dl dd {
    position: relative;
    padding-left: 45px;
    font-size: 14px;
    color: #848484; }
    .inner .article .product__tech ul li dl dd > span {
      font-family: 'MyWebFont';
      letter-spacing: 0.18em;
      font-style: normal;
      display: block;
      position: absolute;
      width: 40px;
      height: 1em;
      top: 0;
      left: 0;
      font-size: 26px;
      line-height: 1;
      margin-top: 5px;
      color: #5a498e; }
  .inner .article .product__tech ul li:nth-child(1) dl dt {
    background: url(../img/contents/product/detail__img--1.jpg) no-repeat center center; }
  .inner .article .product__tech ul li:nth-child(2) dl dt {
    background: url(../img/contents/product/detail__img--2.jpg) no-repeat center center; }
  .inner .article .product__tech ul li:nth-child(3) dl dt {
    background: url(../img/contents/product/detail__img--3.jpg) no-repeat center center; }
  .inner .article .product__tech > span {
    display: block;
    font-size: 11px;
    color: #adadad;
    text-align: right; }

.inner .article .product__circle h5 {
  min-height: 80px;
  margin-bottom: 40px; }
  .inner .article .product__circle h5 dl dt {
    text-indent: -9999px;
    height: 21px;
    background-size: auto 100% !important;
    margin-bottom: 12px; }
  .inner .article .product__circle h5 dl dd {
    text-align: center;
    font-size: 15px;
    line-height: 1.6; }
    .inner .article .product__circle h5 dl dd br {
      display: none; }
  .inner .article .product__circle h5.product__circle--top--title dl dt {
    background: url(../img/contents/product/circle__left--title.png) no-repeat center center; }
  .inner .article .product__circle h5.product__circle--bottom--title dl dt {
    background: url(../img/contents/product/circle__right--title.png) no-repeat center center; }

.inner .article .product__circle .product__circle--contents {
  text-align: center; }
  .inner .article .product__circle .product__circle--contents ul {
    padding: 0 85px;
    margin: 0 -30px; }
    .inner .article .product__circle .product__circle--contents ul li {
      display: inline-block;
      width: calc(100% / 4 - 60px);
      vertical-align: top;
      margin: 0 30px 40px;
      min-height: 275px; }
      .inner .article .product__circle .product__circle--contents ul li dl dt {
        position: relative;
        width: calc(100% - 60px);
        left: 30px;
        margin-bottom: 15px; }
        .inner .article .product__circle .product__circle--contents ul li dl dt span {
          text-indent: -9999px;
          display: block;
          height: 0;
          padding-top: 100%;
          border-radius: 50%;
          background-size: 100% auto !important; }
      .inner .article .product__circle .product__circle--contents ul li dl .cricle__contents--title {
        text-align: center;
        font-size: 11px;
        color: #adadad;
        line-height: 1;
        margin-bottom: 15px; }
        .inner .article .product__circle .product__circle--contents ul li dl .cricle__contents--title strong {
          text-indent: -9999px;
          margin: 0 auto;
          display: block;
          height: 15px;
          margin-bottom: 10px;
          background-size: auto 100% !important; }
      .inner .article .product__circle .product__circle--contents ul li dl .cricle__contents--text {
        text-align: left;
        font-size: 13px;
        color: #848484;
        line-height: 1.6; }
  .inner .article .product__circle .product__circle--contents.product__circle--contents--top {
    margin-bottom: 96px; }
    .inner .article .product__circle .product__circle--contents ul li {
      position: relative; }
    .inner .article .product__circle .product__circle--contents ul li .new {
      position: absolute;
      color: #c62a3a;
      top: 0;
      right: 0; }
    .inner .article .product__circle .product__circle--contents.product__circle--contents--top ul li:nth-child(1) dl dt span {
      background: url(../img/contents/product/circle__stardust.jpg) no-repeat center center; }
    .inner .article .product__circle .product__circle--contents.product__circle--contents--top ul li:nth-child(1) dl .cricle__contents--title strong {
      width: 137px;
      background: url(../img/contents/product/circle__stardust--title.png) no-repeat center center; }
    .inner .article .product__circle .product__circle--contents.product__circle--contents--top ul li:nth-child(2) dl dt span {
      background: url(../img/contents/product/circle__blossom.jpg) no-repeat center center; }
    .inner .article .product__circle .product__circle--contents.product__circle--contents--top ul li:nth-child(2) dl .cricle__contents--title strong {
      width: 133px;
      background: url(../img/contents/product/circle__blossom--title.png) no-repeat center center; }
    .inner .article .product__circle .product__circle--contents.product__circle--contents--top ul li:nth-child(3) dl dt span {
      background: url(../img/contents/product/circle__left--1.jpg) no-repeat center center; }
    .inner .article .product__circle .product__circle--contents.product__circle--contents--top ul li:nth-child(3) dl .cricle__contents--title strong {
      width: 129px;
      background: url(../img/contents/product/circle__left--1--title.png) no-repeat center center; }
    .inner .article .product__circle .product__circle--contents.product__circle--contents--top ul li:nth-child(4) dl dt span {
      background: url(../img/contents/product/circle__left--2.jpg) no-repeat center center; }
    .inner .article .product__circle .product__circle--contents.product__circle--contents--top ul li:nth-child(4) dl .cricle__contents--title strong {
      width: 129px;
      background: url(../img/contents/product/circle__left--2--title.png) no-repeat center center; }
    .inner .article .product__circle .product__circle--contents.product__circle--contents--top ul li:nth-child(5) dl dt span {
      background: url(../img/contents/product/circle__left--3.jpg) no-repeat center center; }
    .inner .article .product__circle .product__circle--contents.product__circle--contents--top ul li:nth-child(5) dl .cricle__contents--title strong {
      width: 129px;
      background: url(../img/contents/product/circle__left--3--title.png) no-repeat center center; }
    .inner .article .product__circle .product__circle--contents.product__circle--contents--top ul li:nth-child(6) dl dt span {
      background: url(../img/contents/product/circle__left--4.jpg) no-repeat center center; }
    .inner .article .product__circle .product__circle--contents.product__circle--contents--top ul li:nth-child(6) dl .cricle__contents--title strong {
      width: 123px;
      background: url(../img/contents/product/circle__left--4--title.png) no-repeat center center; }
    .inner .article .product__circle .product__circle--contents.product__circle--contents--top ul li:nth-child(7) dl dt span {
      background: url(../img/contents/product/circle__left--5.jpg) no-repeat center center; }
    .inner .article .product__circle .product__circle--contents.product__circle--contents--top ul li:nth-child(7) dl .cricle__contents--title strong {
      width: 129px;
      background: url(../img/contents/product/circle__left--5--title.png) no-repeat center center; }
    .inner .article .product__circle .product__circle--contents.product__circle--contents--top ul li:nth-child(8) dl dt span {
      background: url(../img/contents/product/circle__left--6.jpg) no-repeat center center; }
    .inner .article .product__circle .product__circle--contents.product__circle--contents--top ul li:nth-child(8) dl .cricle__contents--title strong {
      width: 127px;
      background: url(../img/contents/product/circle__left--6--title.png) no-repeat center center; }
    .inner .article .product__circle .product__circle--contents.product__circle--contents--top ul li:nth-child(9) dl dt span {
      background: url(../img/contents/product/circle__left--7.jpg) no-repeat center center; }
    .inner .article .product__circle .product__circle--contents.product__circle--contents--top ul li:nth-child(9) dl .cricle__contents--title strong {
      width: 137px;
      background: url(../img/contents/product/circle__left--7--title.png) no-repeat center center; }
  .inner .article .product__circle .product__circle--contents.product__circle--contents--bottom ul li:nth-child(1) dl dt span {
    background: url(../img/contents/product/circle__deepsea.jpg) no-repeat center center; }
  .inner .article .product__circle .product__circle--contents.product__circle--contents--bottom ul li:nth-child(1) dl .cricle__contents--title strong {
    width: 130px;
    background: url(../img/contents/product/circle__deepsea--title.png) no-repeat center center; }
  .inner .article .product__circle .product__circle--contents.product__circle--contents--bottom ul li:nth-child(2) dl dt span {
    background: url(../img/contents/product/circle__right--1.jpg) no-repeat center center; }
  .inner .article .product__circle .product__circle--contents.product__circle--contents--bottom ul li:nth-child(2) dl .cricle__contents--title strong {
    width: 144px;
    background: url(../img/contents/product/circle__right--1--title.png) no-repeat center center; }
  .inner .article .product__circle .product__circle--contents.product__circle--contents--bottom ul li:nth-child(3) dl dt span {
    background: url(../img/contents/product/circle__right--2.jpg) no-repeat center center; }
  .inner .article .product__circle .product__circle--contents.product__circle--contents--bottom ul li:nth-child(3) dl .cricle__contents--title strong {
    width: 144px;
    background: url(../img/contents/product/circle__right--2--title.png) no-repeat center center; }
  .inner .article .product__circle .product__circle--contents.product__circle--contents--bottom ul li:nth-child(4) dl dt span {
    background: url(../img/contents/product/circle__right--3.jpg) no-repeat center center; }
  .inner .article .product__circle .product__circle--contents.product__circle--contents--bottom ul li:nth-child(4) dl .cricle__contents--title strong {
    width: 143px;
    background: url(../img/contents/product/circle__right--3--title.png) no-repeat center center; }

.inner .article .product__step--contents ul li dl dt {
  text-indent: -9999px;
  position: relative;
  height: 0;
  padding-top: calc(450 / 674 * 100%);
  background-size: 100% auto !important; }
  .inner .article .product__step--contents ul li dl dt:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    width: 14px;
    height: 14px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: auto;
    right: -30px;
    background: url(../img/contents/product/step__arrow--pc.png) no-repeat right center;
    background-size: 14px auto; }

.inner .article .product__step--contents ul li dl dd {
  font-size: 16px;
  font-weight: bold; }
  .inner .article .product__step--contents ul li dl dd.product__step--contents--text {
    font-weight: normal;
    font-size: 14px;
    color: #848484; }
    .inner .article .product__step--contents ul li dl dd.product__step--contents--text aside {
      font-size: 11px;
      color: #adadad; }

.inner .article .product__step--contents ul li:nth-child(1) dl dt {
  background: url(../img/contents/product/step__img--1.png) no-repeat center center; }

.inner .article .product__step--contents ul li:nth-child(2) dl dt {
  background: url(../img/contents/product/step__img--2.png) no-repeat center center; }

.inner .article .product__step--contents ul li:nth-child(3) dl dt {
  background: url(../img/contents/product/step__img--3.png) no-repeat center center; }
  .inner .article .product__step--contents ul li:nth-child(3) dl dt:after {
    display: none; }

.inner .article .product__special {
  margin-bottom: 168px; }
  .inner .article .product__special dl dt {
    line-height: 1;
    font-size: 21px;
    text-align: center;
    margin-bottom: 35px; }
  .inner .article .product__special dl dd {
    position: relative;
    padding-left: 40px;
    font-size: 15px;
    color: #848484;
    line-height: 1.8;
    margin-bottom: 13px; }
    .inner .article .product__special dl dd span {
      display: block;
      position: absolute;
      width: 35px;
      height: 1em;
      top: 5px;
      left: 0;
      font-family: 'MyWebFont';
      letter-spacing: 0.18em;
      font-style: normal;
      font-size: 19px;
      color: #5a498e;
      line-height: 1; }
    .inner .article .product__special dl dd aside {
      font-size: 11px;
      color: #adadad; }

.inner .article .product__lineup {
  margin-bottom: 200px; }
  .inner .article .product__lineup ul li {
    position: relative; }
    .inner .article .product__lineup ul li > dl {
      padding-bottom: 50px;
      margin-bottom: 30px;
      border-bottom: 1px dotted #d5d3d2; }
      .inner .article .product__lineup ul li > dl > dt {
        text-indent: -9999px;
        position: absolute;
        width: 189px;
        height: 385px;
        background-size: 100% auto !important; }
      .inner .article .product__lineup ul li > dl > dd {
        margin-left: 220px; }
        .inner .article .product__lineup ul li > dl > dd > dl > dt {
          font-size: 16px;
          font-weight: bold;
          line-height: 1.6;
          margin-bottom: 15px; }
        .inner .article .product__lineup ul li > dl > dd > dl > dd {
          font-size: 14px;
          color: #848484;
          margin-bottom: 10px; }
        .inner .article .product__lineup ul li > dl > dd > dl aside {
          font-size: 11px;
          color: #adadad; }
        .inner .article .product__lineup ul li > dl > dd > dl > span {
          font-size: 12px;
          color: #848484; }
    .inner .article .product__lineup ul li p {
      position: relative;
      padding-left: 93px;
      font-size: 13px;
      color: #848484; }
      .inner .article .product__lineup ul li p span {
        display: block;
        position: absolute;
        width: 97px;
        height: 1em;
        top: 0;
        left: 0;
        font-size: 14px;
        color: #5a498e; }
    .inner .article .product__lineup ul li:nth-child(1) > dl > dt {
      background: url(../img/contents/product/lineup__img--1.png) no-repeat center center; }
    .inner .article .product__lineup ul li:nth-child(2) > dl > dt {
      background: url(../img/contents/product/lineup__img--2.png) no-repeat center center; }
