/* color
=================================================================== */
/* common
=================================================================== */
/* layout
=================================================================== */
/* animation delay
=================================================================== */
/* 3d
=================================================================== */
/* font
=================================================================== */
/* form
=================================================================== */
@media only screen and (max-width: 1190px) {
  .shoplist .inner article.shoplist__search {
    text-align: center; }
    .shoplist .inner article.shoplist__search section form input, .shoplist .inner article.shoplist__search section form select {
      width: 100%; }
    .shoplist .inner article.shoplist__search section form ul li {
      width: calc(50% - 59px) !important;
      margin-bottom: 25px; }
      .shoplist .inner article.shoplist__search section form ul li.form__btn:after {
        right: 30px;
        top: 24px; } }

@media only screen and (max-width: 1145px) {
  /* contents
	=================================================================== */
  .shoplist .inner article.article--small {
    margin-bottom: 55px; }
  .shoplist .inner article.shoplist__detail {
    margin: 0 35px 95px; }
    .shoplist .inner article.shoplist__detail section ul li {
      margin-bottom: 45px;
      min-height: 50px; }
      .shoplist .inner article.shoplist__detail section ul li dl dt {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
        padding-right: 98px; }
      .shoplist .inner article.shoplist__detail section ul li dl dd.shoplist__detail--area, .shoplist .inner article.shoplist__detail section ul li dl dd.shoplist__detail--tel {
        position: relative;
        top: 0; }
      .shoplist .inner article.shoplist__detail section ul li dl dd.shoplist__detail--area {
        display: inline-block;
        margin-right: 15px;
        width: auto;
        left: 0; }
      .shoplist .inner article.shoplist__detail section ul li dl dd.shoplist__detail--address {
        display: inline-block;
        margin: 0; }
      .shoplist .inner article.shoplist__detail section ul li dl dd.shoplist__detail--tel {
        width: auto;
        right: auto;
        left: 0;
        margin-top: 10px; }
      .shoplist .inner article.shoplist__detail section ul li dl dd.shoplist__detail--web a, .shoplist .inner article.shoplist__detail section ul li dl dd.shoplist__detail--cc a {
        background-size: auto 20px !important; }
      .shoplist .inner article.shoplist__detail section ul li dl dd.shoplist__detail--web {
        width: 45px;
        right: 55px; }
      .shoplist .inner article.shoplist__detail section ul li.shoplist__detail--title {
        letter-spacing: 0; }
        .shoplist .inner article.shoplist__detail section ul li.shoplist__detail--title dl dd.shoplist__detail--area, .shoplist .inner article.shoplist__detail section ul li.shoplist__detail--title dl dd.shoplist__detail--address, .shoplist .inner article.shoplist__detail section ul li.shoplist__detail--title dl dd.shoplist__detail--tel {
          display: none; }
        .shoplist .inner article.shoplist__detail section ul li.shoplist__detail--title dl dd.shoplist__detail--web {
          width: 42px;
          right: 55px; }
        .shoplist .inner article.shoplist__detail section ul li.shoplist__detail--title dl dd.shoplist__detail--cc {
          width: 40px; } }

/* max-width: 800px
=================================================================== */
@media only screen and (max-width: 766px) {
  /* contents
	========================= */
  .shoplist .inner article.shoplist__search {
    padding: 0 20px; }
    .shoplist .inner article.shoplist__search section input, .shoplist .inner article.shoplist__search section select {
      width: 100%;
      height: 50px;
      line-height: 50px;
      font-size: 14px; }
    .shoplist .inner article.shoplist__search section ul li {
      width: 100% !important;
      margin: 0 0 15px 0; }
      .shoplist .inner article.shoplist__search section ul li.check {
        text-align: left; }
        .shoplist .inner article.shoplist__search section ul li.check label {
          padding-left: 30px; }
      .shoplist .inner article.shoplist__search section ul li.form__btn:after {
        right: 21px;
        top: 19px;
        width: 14px;
        height: 14px; }
      .shoplist .inner article.shoplist__search section ul li.form__btn .form__btn--input {
        padding-left: 18px; }
  .shoplist .inner article.shoplist__detail {
    margin: 0 25px 95px; }
    .shoplist .inner article.shoplist__detail section ul li {
      font-size: 12px;
      margin-bottom: 40px; }
      .shoplist .inner article.shoplist__detail section ul li dl dt {
        margin-bottom: 8px;
        padding-right: 83px; }
      .shoplist .inner article.shoplist__detail section ul li dl dd.shoplist__detail--area {
        margin-right: 10px; }
      .shoplist .inner article.shoplist__detail section ul li dl dd.shoplist__detail--address {
        padding-right: 85px; }
      .shoplist .inner article.shoplist__detail section ul li dl dd.shoplist__detail--tel {
        margin-top: 8px; }
      .shoplist .inner article.shoplist__detail section ul li dl dd.shoplist__detail--web, .shoplist .inner article.shoplist__detail section ul li dl dd.shoplist__detail--cc {
        top: 0; }
      .shoplist .inner article.shoplist__detail section ul li dl dd.shoplist__detail--web {
        width: 30px;
        right: 35px;
        background-size: auto 14px; }
      .shoplist .inner article.shoplist__detail section ul li dl dd.shoplist__detail--cc {
        width: 30px;
        height: 23px;
        top: -4px;
        background-size: auto 23px; }
      .shoplist .inner article.shoplist__detail section ul li.shoplist__detail--title {
        font-size: 8px; }
        .shoplist .inner article.shoplist__detail section ul li.shoplist__detail--title dl dd.shoplist__detail--web {
          width: 34px;
          right: 37px; } }
