@charset "UTF-8";
@media screen and (min-width: 769px) {
	.sp-only {
		display: none;
	}
}
@media screen and (max-width: 768px) {
	.pc-only {
		display: none;
	}
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}
#firstview {
  overflow: hidden;
}
#firstview #firstview-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100vw;
}
#videoContainer {
	width: 100%;
	height: 100%;
	justify-content: center;
	display: flex;
}
#firstview-video {
  height: 100%;
  width: auto;
  margin: 0 auto;
}
#firstview-content {
  position: absolute;
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  background: url("../img/contents/top/banner-bg-50.png") center no-repeat;
  background-size: cover;
  font-family: "Barlow", sans-serif;
}
#firstview #firstview-text {
  text-align: center;
}
#firstview #firstview-wella-logo {
	width: auto;
	height: auto;
	margin-bottom: 36px;
}
#firstview #firstview-logo {
	-webkit-background-size: 100% auto;
	   -moz-background-size: 100% auto;
	        background-size: 100% auto;
	opacity: 0;
  animation-duration: 1s;
  animation-name: fadeInShift;
  animation-fill-mode: forwards;
}
#firstview .movie-play-button {
  cursor: pointer;
  background: transparent;
  border: 0;
  text-align: center;
  color: #fff;
  margin-top: 45px;
  -webkit-background-size: 100% auto;
	   -moz-background-size: 100% auto;
	        background-size: 100% auto;
	opacity: 0;
  animation-duration: 1s;
  animation-name: fadeIn;
  animation-delay: 0.5s;
  transition-timing-function: linear;
  animation-fill-mode: forwards;
}
#firstview .movie-play-button img {
  width: 108px;
  height: 108px;
  vertical-align: middle;
}
#firstview .movie-play-button .movie-play-button__text {
  text-indent: 0.1em;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  margin-top: 20px;
}
#movie-container {
  display: none;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
}
#movie-modal-content {
  display: -webkit-box;
  display:    -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         box;
  display:         flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  -webkit-align-items: center;
          align-items: center;
  -webkit-box-align: center;
     -moz-box-align: center;
       -o-box-align: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
       -o-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
}
#movie-modal-close {
  cursor: pointer;
  border: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: url("../img/contents/top/modal-closer.svg") no-repeat center center;
  -webkit-background-size: 21px 21px;
     -moz-background-size: 21px 21px;
          background-size: 21px 21px;
}
#firstview #firstview-scroll {
	opacity: 0;
	animation-duration: 1s;
  animation-name: fadeInShift;
  animation-delay: 0.5s;
  transition-timing-function: linear;
  animation-fill-mode: forwards;
}
@media screen and (min-width: 769px) {
#videoContainer {
    display: unset;
  }
#firstview #firstview-inner {
  height: 642px;
}
  #movie-modal-close:hover,
  #movie-modal-close:focus {
-webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
         -o-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: -webkit-transform 0.5s;
       -moz-transition:    -moz-transform 0.5s;
        -ms-transition:     -ms-transform 0.5s;
         -o-transition:      -o-transform 0.5s;
            transition:         transform 0.5s;
  }
  #movie-modal-close:focus {
    outline: none;
  }
	#firstview #firstview-text {
		bottom: 14.594594594594595%;
		left: 4.838709677419355%;
		max-width: calc((100vh - 160px) * 0.666216216216216);
		width: 100%;
    max-width: 726px;
	}
	#firstview #firstview-scroll {
		position: absolute;
		bottom: 0;
		right: 15px;
		width: 70px;
		padding-bottom: 120px;
		font-weight: bold;
		text-align: center;
	}
	#firstview #firstview-scroll .letters {
		display: inline-block;
		font-size: 10px;
		text-indent: 0.2em;
		letter-spacing: 0.2em;
		-webkit-transform: rotate(90deg);
		   -moz-transform: rotate(90deg);
		    -ms-transform: rotate(90deg);
		     -o-transform: rotate(90deg);
		        transform: rotate(90deg);
	}
	#firstview #firstview-scroll #firstview-scroll-bar {
		overflow: hidden;
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		width: 1px;
		height: 80px;
		margin: 0 auto;
	}
	#firstview #firstview-scroll #firstview-scroll-bar:before {
		position: absolute;
		top: -300%;
		left: 0;
		width: 100%;
		height: 300%;
		background-color: currentColor;
		content: "";
		-webkit-animation: firstview-scroll 2.5s infinite;
		   -moz-animation: firstview-scroll 2.5s infinite;
		    -ms-animation: firstview-scroll 2.5s infinite;
		     -o-animation: firstview-scroll 2.5s infinite;
		        animation: firstview-scroll 2.5s infinite;
		-webkit-animation-timing-function: ease-in-out;
		   -moz-animation-timing-function: ease-in-out;
		    -ms-animation-timing-function: ease-in-out;
		     -o-animation-timing-function: ease-in-out;
		        animation-timing-function: ease-in-out;
	}
  #firstview .movie-play-button {
  	 opacity: 0;
	  transition: transform 0.5s ease, opacity 0.5s ease;
	  animation-duration: 1s;
	  animation-name: fadeIn;
	  animation-fill-mode: forwards;
	  animation-delay: 0.25s
    -webkit-transition: -webkit-transform 1s;
       -moz-transition:    -moz-transform 1s;
        -ms-transition:     -ms-transform 1s;
         -o-transition:      -o-transform 1s;
            transition:         transform 1s;
  }
  #firstview .movie-play-button:hover,
  #firstview .movie-play-button:focus {
    -webkit-transform: scale(1.05);
       -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
         -o-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transition: -webkit-transform 0.5s;
       -moz-transition:    -moz-transform 0.5s;
        -ms-transition:     -ms-transform 0.5s;
         -o-transition:      -o-transform 0.5s;
            transition:         transform 0.5s;

  }
  #firstview .movie-play-button:focus {
    outline: none;
  }
}
@media screen and (max-width: 768px) {
	#firstview {
		border-top: 1px solid #d9d9d9;
	}
	#firstview-content {
		background: rgb(117,102,198);
		background: radial-gradient(circle, rgba(117,102,198,0.35) 0%, rgba(162,119,184,0.35) 100%);
  }
  #firstview #firstview-text {
    position: absolute;
  }
	#firstview #firstview-logo {
		width: 80%;
	}
	#firstview #firstview-scroll {
		display: none;
	}
  #firstview .movie-play-button span {
    margin-left: 0;
    margin-top: 28px;
    display: block;
  }
  #movie-modal-content {
    width: 100%;
  }
  #movie {
    width: 100vw;
    height: calc(100vw/1.77);
    max-height: 750px;
    max-width: 1110px;;
  }
}
@media only screen and (min-width: 630px) and (max-width: 720px) {
  #firstview-video {
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 1142px) {
  #firstview-video {
    width: 100%;
    height: auto;
  }
}

#description {
  text-align: center;
  max-width: 790px;
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "Noto Serif Japanese", serif, sans-serif;
  color: #343539;
  font-weight: 400;
  margin: 110px auto;
}
#description p {
  font-size: 20px;
  line-height: 2.1;
}
@media screen and (max-width: 768px) {
  #description {
    max-width: unset;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    margin: 70px auto;
  }
  #description p {
  	font-size: 16px;
	}
}
.gradient-container {
	background-image: -webkit-linear-gradient(top, #e4dff6 0%, #fff 100%);
	background-image:    -moz-linear-gradient(top, #e4dff6 0%, #fff 100%);
	background-image:      -o-linear-gradient(top, #e4dff6 0%, #fff 100%);
	background-image:     -ms-linear-gradient(top, #e4dff6 0%, #fff 100%);
	background-image:         linear-gradient(to bottom, #e4dff6 0%, #fff 100%);
}
.gradient-banner-container {
  background: url("../img/contents/top/banner-bg-25.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
#campaign {
  padding-top: 70px;
  padding-bottom: 30px;
}
#campaign #campaign-inner {
	position: relative;
}
#campaign .lead h2 {
	text-align: center;
}
#campaign .lead h2 .text {
	font-weight: bold;
	line-height: 1;
}
#campaign .lead h2 .text .en div {
	display: inline-block;
	position: relative;
}
#campaign .lead h2 .text .en div:before, #campaign .lead h2 .text .en div:after {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	height: 1px;
	margin: auto 0;
	background-color: currentColor;
	content: "";
}
#campaign .lead h2 .text .en div:before {
	right: 100%;
}
#campaign .lead h2 .text .en div:after {
	left: 100%;
}
#campaign .lead h2 .text .en span {
	text-indent: 0.2em;
	letter-spacing: 0.2em;
}
#campaign .lead h2 .text .ja {
	text-indent: 0.1em;
	letter-spacing: 0.1em;
}
#campaign .lead #campaign-tag-list ul {
	display: -webkit-box;
	display:    -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         box;
	display:         flex;

	-webkit-box-pack: center;
	   -moz-box-pack: center;
	     -o-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	        justify-content: center;
}
#campaign .lead #campaign-tag-list ul a {
	display: block;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	        background-size: cover;
	color: #fff;
	text-align: center;
	line-height: 1;
}
#campaign .lead #campaign-tag-list ul span {
	font-weight: bold;
}
#campaign .lead h3 {
	text-align: center;
	line-height: 1;
}
#campaign .lead h3 .en {
	text-indent: 0.2em;
	letter-spacing: 0.2em;
}
#campaign .lead h3 .ja {
	text-indent: 0.1em;
	letter-spacing: 0.1em;
}
#campaign #campaign-list-container [class*="LoadMoreButton__load-more-button___"] {
	margin: 0;
	border: 0;
	font-family: inherit;
	font-family: "Barlow", sans-serif;
	text-indent: 0.3em;
	line-height: 1.5;
	letter-spacing: 0.3em;
	text-transform: uppercase;
	cursor: pointer;
	background: transparent;
  color: #5A498E;
  border: 1px solid #5A498E;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  padding-top: 11px;
  padding-bottom: 11px;
  transition: background 0.5s ease;

	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}
#campaign #campaign-list-container [class*="LoadMoreButton__load-more-button___"]:hover {
	background: rgba(225,225,225,0.30);
  color: #5A498E;
}
@media screen and (min-width: 769px) {
	#campaign {
		margin-bottom: 110px;
	}
	#campaign #campaign-inner {
		max-width: 100%;
		width: 1220px;
		margin: auto;
	}
	#campaign .lead h2 {
		margin-bottom: 70px;
	}
	#campaign .lead h2 .image {
		margin-bottom: 25px;
	}
	#campaign .lead h2 .image img.pc-only {
		display: block;
		width: auto;
		margin: auto;
	}
	#campaign .lead h2 .text .en {
		margin-bottom: 20px;
		font-size: 30px;
	}
	#campaign .lead h2 .text .en div {
		padding: 0 20px;
	}
	#campaign .lead h2 .text .en div:before, #campaign .lead h2 .text .en div:after {
		width: 80px;
	}
	#campaign .lead h2 .text .en span {
		display: inline-block;
		padding: 0 0.125em;
	}
	#campaign .lead h2 .text .ja {
		font-size: 18px;
	}
	#campaign .lead #campaign-tag-list {
		margin-bottom: 40px;
		padding: 0 20px;
	}
	#campaign .lead #campaign-tag-list ul {
		-webkit-box-pack: justify;
		   -moz-box-pack: justify;
		     -o-box-pack: justify;
		-ms-flex-pack: justify;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
	}
	#campaign .lead #campaign-tag-list ul li {
		width: calc((100% - 40px) / 3);
	}
	#campaign .lead #campaign-tag-list ul li.stardust a {
		background-image: url("../img/contents/top/campaign-tag-list-stardust.png");
	}
	#campaign .lead #campaign-tag-list ul li.blossom a {
		background-image: url("../img/contents/top/campaign-tag-list-blossom.png");
	}
	#campaign .lead #campaign-tag-list ul li.deepsea a {
		background-image: url("../img/contents/top/campaign-tag-list-deepsea.png");
	}
	#campaign .lead #campaign-tag-list ul a {
		display: -webkit-box;
		display:    -moz-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display:         box;
		display:         flex;
		padding: 18px 1em;
		border: 5px solid;
		font-size: 16px;
		text-indent: 0.1em;
		letter-spacing: 0.1em;

		-webkit-align-items: center;
		        align-items: center;
		-webkit-box-align: center;
		   -moz-box-align: center;
		     -o-box-align: center;
		-webkit-box-pack: center;
		   -moz-box-pack: center;
		     -o-box-pack: center;
		-ms-flex-align: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		        justify-content: center;
	}
	#campaign .lead #campaign-tag-list ul a div span {
		display: inline-block;
		vertical-align: bottom;
		line-height: 1.5;
	}
	#campaign .lead h3 {
		margin-bottom: 40px;
	}
	#campaign .lead h3 .en {
		margin-bottom: 15px;
		font-size: 18px;
	}
	#campaign .lead h3 .ja {
		font-size: 24px;
	}
	#campaign #campaign-list-container {
		margin-bottom: 60px;
	}
	#campaign #campaign-list-container [class*="LoadMoreButton__load-more-button-wrapper"] {
		padding: 20px 0 30px;
	}
	#campaign #campaign-list-container [class*="LoadMoreButton__load-more-button___"] {
		display: inline-block;
		max-width: 100%;
		padding: 15px 40px;
		font-size: 16px;
	}
}
@media screen and (max-width: 768px) {
	#campaign {
		margin-bottom: 21.333333333333332vw;
	}
	#campaign .lead h2 {
		width: 90.66666666666667%;
		margin: 0 auto 8.59375vw;
	}
	#campaign .lead h2 .image img {
		vertical-align: bottom;
	}
	#campaign .lead h2 .text .en {
		font-size: 6.666666666666667vw;
		line-height: 1.2;
	}
	#campaign .lead h2 .text .en div {
		padding: 0.6em;
	}
	#campaign .lead h2 .text .en div:before, #campaign .lead h2 .text .en div:after {
		width: 10.666666666666668vw;
	}
	#campaign .lead h2 .text .en span {
		display: block;
	}
	#campaign .lead h2 .text .ja {
		font-size: 3.733333333333333vw;
	}
	#campaign .lead #campaign-tag-list {
		margin-bottom: 10.666666666666668vw;
	}
	#campaign .lead #campaign-tag-list ul {
		border: 1px solid #fff;
	}
	#campaign .lead #campaign-tag-list ul li {
		width: calc(100% / 3);
	}
	#campaign .lead #campaign-tag-list ul li.stardust a {
		background-image: url("../img/contents/top/campaign-tag-list-stardust-sp.png");
	}
	#campaign .lead #campaign-tag-list ul li.blossom a {
		background-image: url("../img/contents/top/campaign-tag-list-blossom-sp.png");
	}
	#campaign .lead #campaign-tag-list ul li.deepsea a {
		background-image: url("../img/contents/top/campaign-tag-list-deepsea-sp.png");
	}
	#campaign .lead #campaign-tag-list ul a {
		padding: 0.5em 0;
		border: 1px solid;
	}
	#campaign .lead #campaign-tag-list ul a div {
		font-size: 3.125vw;
		line-height: 1.545454545454545;
		-webkit-transform: scale(0.938666666666667);
		   -moz-transform: scale(0.938666666666667);
		    -ms-transform: scale(0.938666666666667);
		     -o-transform: scale(0.938666666666667);
		        transform: scale(0.938666666666667);
	}
	#campaign .lead #campaign-tag-list ul a span {
		display: block;
	}
	#campaign .lead h3 {
		margin-bottom: 8.666666666666668vw;
	}
	#campaign .lead h3 .en {
		margin-bottom: 4.666666666666667vw;
		font-size: 3.733333333333333vw;
	}
	#campaign .lead h3 .ja {
		font-size: 5.333333333333333vw;
	}
	#campaign #campaign-inner {
		margin-bottom: 16.666666666666668vw;
	}
	#campaign #campaign-list-container {
		width: 94.66666666666667%;
		margin: auto;
	}
	#campaign #campaign-list-container [class*="LoadMoreButton__load-more-button-wrapper"] {
		padding: 2vw 0 4vw;
	}
	#campaign #campaign-list-container [class*="LoadMoreButton__load-more-button___"] {
		width: 80%;
		padding: 0;
		font-size: 3.733333333333333vw;
		line-height: 14.666666666666668vw;
	}
}
@media only screen and (min-width: 768px) {
  .loadMoreWrapper .loadMoreBtn:hover {
    background: rgba(225,225,225,0.30) !important;
    color: #5A498E !important;
    border-color: #5A498E !important;
  }
}
#campaign-banner {
  margin: 110px 0;
  opacity: 0;
-webkit-transform: translateY(10px);
   -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
     -o-transform: translateY(10px);
        transform: translateY(10px);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#campaign-banner-link {
  background: url("../img/contents/kurokami/campaign-banner.jpg") no-repeat 90% center;
  background-size: cover;
  max-width: 1180px;
  width: 100%;
  height: 380px;
  margin: 0 auto;
  position: relative;

  transition: opacity 0.5s ease;
}
#campaign-banner.inviewed {
  opacity: 1;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
     -moz-transition: opacity 1s, -moz-transform 1s;
      -ms-transition: opacity 1s, -ms-transform 1s;
       -o-transition: opacity 1s, -o-transform 1s;
          transition: opacity 1s, transform 1s;
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0);

  -ms-filter: none;
      filter: none;
}
#campaign-banner-text {
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "Noto Serif Japanese", serif, sans-serif;
  color: #fff;
  font-size: 20px;
  position: absolute;
  left: 60px;
  bottom: 100px;
  max-width: 446px;
}
#campaign-banner-text p {
  margin-left: 5px;
  text-align: left;
}
@media screen and (min-width: 769px) {
  #campaign-banner-link:hover {
    opacity: 0.8;
  }
}
@media screen and (max-width: 768px) {
  #campaign-banner-link {
    height: 224px;
  }
  #campaign-banner-text {
    font-size: 16px;
    position: absolute;
    left: 24px;
    bottom: 50px;
    max-width: 239px;
  }
}
#forstylists-banner {
  margin: 110px 0;
  opacity: 0;
-webkit-transform: translateY(10px);
   -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
     -o-transform: translateY(10px);
        transform: translateY(10px);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#forstylists-banner-link {
  background: url("../img/contents/forstylists/forstylists-banner.jpg") no-repeat 90% center;
  background-size: cover;
  max-width: 1180px;
  width: 100%;
  height: 380px;
  margin: 0 auto;
  position: relative;

  transition: opacity 0.5s ease;
}
#forstylists-banner.inviewed {
  opacity: 1;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
     -moz-transition: opacity 1s, -moz-transform 1s;
      -ms-transition: opacity 1s, -ms-transform 1s;
       -o-transition: opacity 1s, -o-transform 1s;
          transition: opacity 1s, transform 1s;
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0);

  -ms-filter: none;
      filter: none;
}
#forstylists-banner-text {
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "Noto Serif Japanese", serif, sans-serif;
  color: #fff;
  font-size: 50px;
  position: absolute;
  right: 60px;
  bottom: 100px;
  max-width: 446px;
}
#forstylists-banner-text p {
  margin-right: 5px;
  text-align: right;
}
@media screen and (min-width: 769px) {
  #forstylists-banner-link:hover {
    opacity: 0.8;
  }
}
@media screen and (max-width: 768px) {
  #forstylists-banner-link {
	background: url("/assets/img/contents/forstylists/forstylists-banner.jpg") no-repeat 90%;
	background-position: unset;
    background-size: cover;
    height: 224px;
  }
  #forstylists-banner-text {
    font-size: 30px;
    position: absolute;
    right: 18px;
    bottom: 70px;
    max-width: 239px;
  }
}

#banners.inviewed a {
	opacity: 1;
	-webkit-transform: translateY(0);
	   -moz-transform: translateY(0);
	    -ms-transform: translateY(0);
	     -o-transform: translateY(0);
	        transform: translateY(0);

	-ms-filter: none;
	    filter: none;
}
#banners.inviewed #banner-shoplist a {
	-webkit-transition-delay: 0.5s;
	   -moz-transition-delay: 0.5s;
	    -ms-transition-delay: 0.5s;
	     -o-transition-delay: 0.5s;
	        transition-delay: 0.5s;
}
#banners a {
	display: block;
	background: url("../img/contents/top/banner-bg.jpg") no-repeat center center;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	        background-size: cover;
	opacity: 0;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	   -moz-transition: opacity 1s, -moz-transform 1s;
	    -ms-transition: opacity 1s, -ms-transform 1s;
	     -o-transition: opacity 1s, -o-transform 1s;
	        transition: opacity 1s, transform 1s;
	-webkit-transform: translateY(10px);
	   -moz-transform: translateY(10px);
	    -ms-transform: translateY(10px);
	     -o-transform: translateY(10px);
	        transform: translateY(10px);

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	    filter: alpha(opacity=0);
}
#banners .link-inner {
	position: relative;
	width: 100%;
	height: 100%;
}
#banners .bg {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
#banners #banner-product .bg {
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: 100% auto;
	   -moz-background-size: 100% auto;
	        background-size: 100% auto;
}
#banners #banner-shoplist .bg {
	height: 100%;
	background-color: rgba(255,255,255,0.85);
}
#banners .text {
	position: relative;
}
#banners .text img {
	vertical-align: bottom;
}
@media screen and (min-width: 769px) {
	#banners {
		padding: 0 70px;
	}
	#banners .link-inner {
		-webkit-transition: opacity 0.5s linear;
		   -moz-transition: opacity 0.5s linear;
		    -ms-transition: opacity 0.5s linear;
		     -o-transition: opacity 0.5s linear;
		        transition: opacity 0.5s linear;
	}
	#banners #banners-inner {
		max-width: 1180px;
		margin: 0 auto;
	}
	#banners #banner-product .bg {
		padding-top: 54.25925925925926%;
		background-image: url("../img/contents/top/product-photo.png");
	}
	#banners ul {
		display: -webkit-box;
		display:    -moz-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display:         box;
		display:         flex;

		-webkit-box-pack: justify;
		   -moz-box-pack: justify;
		     -o-box-pack: justify;
		-ms-flex-pack: justify;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
	}
	#banners ul li {
		width: calc(50% - 20px);
	}
	#banners a {
		padding: 15px;
	}
	#banners a .en, #banners a .ja {
		text-align: center;
		line-height: 1;
	}
	#banners a .en {
		margin-bottom: 24px;
		font-size: 30px;
		text-indent: 0.2em;
		letter-spacing: 0.2em;
	}
	#banners a .ja {
		font-size: 14px;
	}
	#banners a .ja span:after {
		width: 10px;
		height: 10px;
	}
	#banners a:hover .link-inner {
		opacity: 0.7;

		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
		    filter: alpha(opacity=70);
	}
}
@media screen and (max-width: 768px) {
	#banners {
		padding: 0 4.666666666666667vw;
	}
	#banners #banner-product {
		margin-bottom: 5.333333333333333vw;
	}
	#banners #banner-product .bg {
		padding-top: 55.745341614906835%;
		background-image: url("../img/contents/top/product-photo-sp.png");
	}
	#banners a {
		padding: 2.4vw;
	}
}
#sns ul {
	display: -webkit-box;
	display:    -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         box;
	display:         flex;

	-webkit-box-pack: center;
	   -moz-box-pack: center;
	     -o-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	        justify-content: center;
}
#sns a .icon img {
	display: block;
}
#sns a p {
	font-weight: bold;
	line-height: 1;
	letter-spacing: 0.1em;
}
@media screen and (min-width: 769px) {
	#sns #sns-inner {
		padding: 100px 0;
	}
	#sns .instagram {
		margin-right: 30px;
	}
	#sns a {
		display: -webkit-box;
		display:    -moz-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display:         box;
		display:         flex;

		-webkit-align-items: center;
		        align-items: center;
		-webkit-box-align: center;
		   -moz-box-align: center;
		     -o-box-align: center;
		-ms-flex-align: center;
	}
	#sns a:hover {
    transition: opacity 0.5s ease;
		opacity: 0.7;

		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
		    filter: alpha(opacity=70);
	}
	#sns a .icon {
		width: 100px;
		margin-right: 16px;
	}
	#sns a p {
		display: 13px;
	}
}
@media screen and (max-width: 768px) {
	#sns #sns-inner {
		padding: 40px 0 50px;
	}
	#sns .instagram {
		margin-right: 28px;
	}
	#sns a {
		display: block;
		width: 70px;
	}
}
#campaign [class*="MainPage__main-container"] {
	overflow: hidden;
}
#campaign .bolt-ver {
	overflow: hidden;
	height: 0;
}
#campaign .bolt-ver.current-list {
	height: auto;
}
#campaign .bolt-ver a {
	display: inline-block;
}
@media screen and (min-width: 850px) {
	#campaign [class*="Modal__modal-content"] {
		padding: 50px 30px;
	}
	#campaign [class*="EntryModal__right-container"] {
		float: right;
		width: 240px;
		margin: 0;
	}
	#campaign [class*="EntryModal__left-container"] {
		float: left;
	}
}
@media screen and (max-width: 849px) {
	#campaign [class*="MasonryWrapper__tab-content"] {
		padding-left: 0 !important;
	}
	#campaign [class*="MasonryWrapper__tab-content"] > div {
		height: auto !important;
	}
	#campaign .grid-item {
		position: relative !important;
		top: auto !important;
		left: auto !important;
		width: 43.333333333333336vw !important;
		margin: 0 2vw 4vw;
	}
	#campaign [class*="Modal__modal-body"] {
		padding-top: 20vw;
	}
	#campaign [class*="EntryModal__right-container-half"] {
		position: static;
		margin: 0;
		padding: 4vw 4vw 6.666666666666667vw;
	}
	#campaign [class*="EntryModal__user-id"] {
		position: absolute;
		top: 0;
		left: 0;
	}
	#campaign [class*="EntryModal__image-description"], #campaign [class*="EntryModal__img-tags"] {
		padding: 0;
		font-size: 3.2vw;
		line-height: 5.066666666666667vw;
	}
}
@-moz-keyframes firstview-scroll {
	0% {
		top: -300%;
	}
	100% {
		top: 100%;
	}
}
@-webkit-keyframes firstview-scroll {
	0% {
		top: -300%;
	}
	100% {
		top: 100%;
	}
}
@-o-keyframes firstview-scroll {
	0% {
		top: -300%;
	}
	100% {
		top: 100%;
	}
}
@keyframes firstview-scroll {
	0% {
		top: -300%;
	}
	100% {
		top: 100%;
	}
}
@keyframes fadeInShift {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.jt > span {
	display:inline-block;
}
#new-shade #new-shade-inner {
	position: relative;
	margin: auto;
}
#new-shade h2 {
	text-align: center;
	line-height: 1;
}
#new-shade h2 div {
	display: inline-block;
	position: relative;
}
#new-shade h2 div:before, #new-shade h2 div:after {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	height: 1px;
	margin: auto 0;
	background-color: currentColor;
	content: "";
}
#new-shade h2 div:before {
	right: 100%;
}
#new-shade h2 div:after {
	left: 100%;
}
#new-shade h2 span {
	display: inline-block;
	padding: 0 0.125em;
	text-indent: 0.2em;
	letter-spacing: 0.2em;
}
#new-shade section {
	position: relative;
}
#new-shade section img {
	vertical-align: bottom;
}
#new-shade h3 {
	position: absolute;
	opacity: 0;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	    filter: alpha(opacity=0);
}
#new-shade h3:after {
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	width: 1px;
	margin: 0 auto;
	background-color: currentColor;
	content: "";
	-webkit-transform: scale(0);
	   -moz-transform: scale(0);
	    -ms-transform: scale(0);
	     -o-transform: scale(0);
	        transform: scale(0);
	-webkit-transform-origin: top;
	   -moz-transform-origin: top;
	    -ms-transform-origin: top;
	     -o-transform-origin: top;
	        transform-origin: top;
}
#new-shade h3 .circ {
	overflow: hidden;
	position: absolute;
	border-radius: 50%;
}
#new-shade h3 .letters {
	line-height: 1;
	letter-spacing: 0.2em;
	-webkit-transform: rotate(-90deg);
	   -moz-transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
	     -o-transform: rotate(-90deg);
	        transform: rotate(-90deg);
	-webkit-transform-origin: 0.5em;
	   -moz-transform-origin: 0.5em;
	    -ms-transform-origin: 0.5em;
	     -o-transform-origin: 0.5em;
	        transform-origin: 0.5em;
}
#new-shade h3.inviewed {
	opacity: 1;
	-webkit-transition: opacity 1s;
	   -moz-transition: opacity 1s;
	    -ms-transition: opacity 1s;
	     -o-transition: opacity 1s;
	        transition: opacity 1s;

	-ms-filter: none;
	    filter: none;
}
#new-shade h3.inviewed:after {
	-webkit-transition: -webkit-transform 1s;
	   -moz-transition:    -moz-transform 1s;
	    -ms-transition:     -ms-transform 1s;
	     -o-transition:      -o-transform 1s;
	        transition:         transform 1s;
	-webkit-transform: scale(1);
	   -moz-transform: scale(1);
	    -ms-transform: scale(1);
	     -o-transform: scale(1);
	        transform: scale(1);
}
#new-shade .new-shade-photo {
	position: relative;
	opacity: 0;
	cursor: pointer;
	-webkit-transition-property: opacity;
	   -moz-transition-property: opacity;
	    -ms-transition-property: opacity;
	     -o-transition-property: opacity;
	        transition-property: opacity;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	    filter: alpha(opacity=0);
}
#new-shade .new-shade-photo.inviewed {
	opacity: 1;

	-ms-filter: none;
	    filter: none;
}
#new-shade .new-shade-photo .shade-modal-open {
	display: block;
	position: absolute;
	border-radius: 50%;
	background-color: #5a498e;
	background-color: rgba(90,73,142,0.7);
}
#new-shade .new-shade-photo .shade-modal-open:before, #new-shade .new-shade-photo .shade-modal-open:after {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background-color: #fff;
	content: "";
}
#new-shade .new-shade-photo .shade-modal-open:before {
	width: 1px;
}
#new-shade .new-shade-photo .shade-modal-open:after {
	height: 1px;
}
@media screen and (min-width: 769px) {
	#new-shade {
		padding-bottom: 50px;
	}
	#new-shade #new-shade-inner {
		max-width: 100%;
		width: 1340px;
	}
	#new-shade h2 {
		margin-bottom: 45px;
		font-size: 30px;
	}
	#new-shade h2 div {
		padding: 0 20px;
	}
	#new-shade h2 div:before, #new-shade h2 div:after {
		width: 80px;
	}
	#new-shade section {
		padding: 0 20px 0 140px;
	}
	#new-shade section + section {
		margin-top: 30px;
	}
	#new-shade h3 {
		top: 200px;
		left: 45px;
		width: 20px;
		padding-bottom: 110px;
	}
	#new-shade h3:after {
		height: 80px;
	}
	#new-shade h3 .circ {
		top: -200px;
		left: -25px;
		width: 70px;
	}
	#new-shade h3 .letters {
		width: 150px;
		font-size: 20px;
	}
	#new-shade ul {
		display: -webkit-box;
		display:    -moz-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display:         box;
		display:         flex;

		-webkit-box-lines: multiple;
		   -moz-box-lines: multiple;
		     -o-box-lines: multiple;
		-webkit-box-pack: justify;
		   -moz-box-pack: justify;
		     -o-box-pack: justify;
		-ms-flex-pack: justify;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
	}
	#new-shade .new-shade-photo {
		margin-bottom: 50px;
		-webkit-box-shadow: 0px 10px 20px 0px rgba(90,73,142,0.25);
		        box-shadow: 0px 10px 20px 0px rgba(90,73,142,0.25);
	}
	#new-shade .new-shade-photo:hover img {
		opacity: 0.6;

		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
		    filter: alpha(opacity=60);
	}
	#new-shade .new-shade-photo[data-transition-delay="0.5"] {
		-webkit-transition-delay: 0.5s;
		   -moz-transition-delay: 0.5s;
		    -ms-transition-delay: 0.5s;
		     -o-transition-delay: 0.5s;
		        transition-delay: 0.5s;
	}
	#new-shade .new-shade-photo[data-transition-delay="1"] {
		-webkit-transition-delay: 1s;
		   -moz-transition-delay: 1s;
		    -ms-transition-delay: 1s;
		     -o-transition-delay: 1s;
		        transition-delay: 1s;
	}
	#new-shade .new-shade-photo[data-transition-delay="1.5"] {
		-webkit-transition-delay: 1.5s;
		   -moz-transition-delay: 1.5s;
		    -ms-transition-delay: 1.5s;
		     -o-transition-delay: 1.5s;
		        transition-delay: 1.5s;
	}
	#new-shade .new-shade-photo.w100 {
		width: 100%;
		-webkit-transition-duration: 1.5s;
		   -moz-transition-duration: 1.5s;
		    -ms-transition-duration: 1.5s;
		     -o-transition-duration: 1.5s;
		        transition-duration: 1.5s;
	}
	#new-shade .new-shade-photo.w30 {
		width: calc((360 / 1180) * 100%);
		-webkit-transition-duration: 0.5s;
		   -moz-transition-duration: 0.5s;
		    -ms-transition-duration: 0.5s;
		     -o-transition-duration: 0.5s;
		        transition-duration: 0.5s;
	}
	#new-shade .new-shade-photo .shade-modal-open {
		right: 20px;
		bottom: 20px;
		width: 31px;
		height: 31px;
	}
	#new-shade .new-shade-photo .shade-modal-open:before {
		height: 15px;
	}
	#new-shade .new-shade-photo .shade-modal-open:after {
		width: 15px;
	}
}
@media screen and (max-width: 768px) {
	#new-shade {
		padding-bottom: 10.666666666666668vw;
	}
	#new-shade #new-shade-inner {
		width: 90.66666666666667%;
	}
	#new-shade h2 {
		margin-bottom: 6.666666666666667vw;
		font-size: 6.666666666666667vw;
		line-height: 1.2;
	}
	#new-shade h2 div {
		width: 61.76470588235294%;
	}
	#new-shade h2 div:before, #new-shade h2 div:after {
		width: 10.666666666666668vw;
	}
	#new-shade h2 span:first-of-type {
		width: 100%;
	}
	#new-shade section {
		padding-left: 17.647058823529413%;
	}
	#new-shade section + section {
		margin-top: 16vw;
	}
	#new-shade h3 {
		top: 40vw;
		left: 4vw;
		width: 4.266666666666667vw;
		padding-bottom: 21.333333333333332vw;
	}
	#new-shade h3:after {
		height: 16vw;
	}
	#new-shade h3 .circ {
		top: -40vw;
		left: -3.666666666666667vw;
		width: 11.6vw;
	}
	#new-shade h3 .letters {
		width: 32.666666666666664vw;
		font-size: 4.266666666666667vw;
	}
	#new-shade .new-shade-photo {
		margin-bottom: 8vw;
		-webkit-box-shadow: 0px 2vw 4vw 0px rgba(90,73,142,0.25);
		        box-shadow: 0px 2vw 4vw 0px rgba(90,73,142,0.25);
		-webkit-transition-duration: 1s;
		   -moz-transition-duration: 1s;
		    -ms-transition-duration: 1s;
		     -o-transition-duration: 1s;
		        transition-duration: 1s;
	}
	#new-shade .shade-modal-open {
		right: 4vw;
		bottom: 4vw;
		width: calc(8vw + 1px);
		height: calc(8vw + 1px);
	}
	#new-shade .shade-modal-open:before {
		height: calc(50% + 1px);
	}
	#new-shade .shade-modal-open:after {
		width: calc(50% + 1px);
	}
}
.shade-modal-wrapper {
	display: none;
	position: fixed;
	z-index: 20000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.shade-modal-wrapper img {
	vertical-align: bottom;
}
.shade-modal-wrapper .modal-backdrop {
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	z-index: 1040;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000;
	opacity: 0.5;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	    filter: alpha(opacity=50);
}
.shade-modal-wrapper .modal-fade {
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.shade-modal-wrapper .modal {
	display: block;
	position: relative;
	z-index: 1050;
	margin: 50px auto;
}
.shade-modal-wrapper .modal-inner {
	position: relative;
	background-color: #fff;
	-webkit-background-clip: padding;
	   -moz-background-clip: padding;
	        background-clip: padding-box;
}
.shade-modal-wrapper .modal-inner > .modal-close {
	position: absolute;
	border-radius: 50%;
	background-color: rgba(76,67,152,0.7);
	cursor: pointer;
}
.shade-modal-wrapper .modal-inner > .modal-close:hover {
	opacity: 0.6;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	    filter: alpha(opacity=60);
}
.shade-modal-wrapper .modal-inner > .modal-close:before, .shade-modal-wrapper .modal-inner > .modal-close:after {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 1px;
	margin: auto;
	background-color: #fff;
	content: "";
}
.shade-modal-wrapper .modal-inner > .modal-close:before {
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.shade-modal-wrapper .modal-inner > .modal-close:after {
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	     -o-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
.shade-modal-wrapper .stylist-data {
	position: relative;
}
.shade-modal-wrapper .stylist-data .stylist-shop-icon, .shade-modal-wrapper .stylist-data .stylist-photo {
	position: absolute;
}
.shade-modal-wrapper .stylist-data .stylist-shop-icon {
	left: 0;
}
.shade-modal-wrapper .stylist-data .stylist-photo {
	right: 0;
}
.shade-modal-wrapper .stylist-data .stylist-detail * {
	letter-spacing: 0.1em;
}
.shade-modal-wrapper .stylist-data .stylist-detail .shop-name {
	margin-bottom: 0.25em;
	line-height: 1.2;
}
.shade-modal-wrapper .stylist-data .stylist-detail .stylist-name .ja {
	font-weight: bold;
}
.shade-modal-wrapper .model-s-hair h3, .shade-modal-wrapper .illumina-color h3 {
	display: -webkit-box;
	display:    -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         box;
	display:         flex;

	-webkit-align-items: center;
	        align-items: center;
	-webkit-box-align: center;
	   -moz-box-align: center;
	     -o-box-align: center;
	-ms-flex-align: center;
}
.shade-modal-wrapper .model-s-hair h3:after, .shade-modal-wrapper .illumina-color h3:after {
	display: block;
	width: 100%;
	height: 1px;
	background-color: currentColor;
	content: "";
}
.shade-modal-wrapper .model-s-hair h3 span, .shade-modal-wrapper .illumina-color h3 span {
	display: block;
	position: relative;
	line-height: 1;
	letter-spacing: 0.2em;

	-webkit-flex-shrink: 0;
	        flex-shrink: 0;
}
.shade-modal-wrapper .parameter dt {
	background-color: #5a498e;
	color: #fff;
	text-indent: 0.2em;
	text-align: center;
	letter-spacing: 0.2em;

	-webkit-flex-shrink: 0;
	        flex-shrink: 0;
}
.shade-modal-wrapper .parameter dd {
	display: -webkit-box;
	display:    -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         box;
	display:         flex;
	width: 100%;

	-webkit-align-items: center;
	        align-items: center;
	-webkit-box-align: center;
	   -moz-box-align: center;
	     -o-box-align: center;
	-webkit-box-pack: justify;
	   -moz-box-pack: justify;
	     -o-box-pack: justify;
	-ms-flex-align: center;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}
.shade-modal-wrapper .parameter dd .left, .shade-modal-wrapper .parameter dd .right {
	text-align: right;

	-webkit-flex-shrink: 0;
	        flex-shrink: 0;
}
.shade-modal-wrapper .parameter dd .parameter-container {
	position: relative;
	width: 100%;
}
.shade-modal-wrapper .parameter dd .parameter-container:before {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	margin: auto 0;
	background-color: #ccc;
	content: "";
}
.shade-modal-wrapper .parameter dd .parameter-container ol {
	display: -webkit-box;
	display:    -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         box;
	display:         flex;

	-webkit-box-pack: justify;
	   -moz-box-pack: justify;
	     -o-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}
.shade-modal-wrapper .parameter dd .parameter-container li {
	position: relative;
	border-radius: 50%;
	background-color: #ccc;
}
.shade-modal-wrapper .parameter dd .parameter-container li.point:before, .shade-modal-wrapper .parameter dd .parameter-container li.point:after {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 50%;
	background-color: #5a498e;
	content: "";
}
.shade-modal-wrapper .parameter dd .parameter-container li.point:before {
	opacity: 0.4;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	    filter: alpha(opacity=40);
}
.shade-modal-wrapper .illumina-color .illumina-color-content {
	display: -webkit-box;
	display:    -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         box;
	display:         flex;

	-webkit-align-items: flex-start;
	        align-items: flex-start;
	-webkit-box-align: start;
	   -moz-box-align: start;
	     -o-box-align: start;
	-webkit-box-pack: start;
	   -moz-box-pack: start;
	     -o-box-pack: start;
	-ms-flex-align: start;
	-ms-flex-pack: start;
	-webkit-justify-content: flex-start;
	        justify-content: flex-start;
}
.shade-modal-wrapper .illumina-color h4 {
	background-color: #5a498e;
	color: #fff;
	text-indent: 0.2em;
	text-align: center;
	letter-spacing: 0.2em;

	-webkit-flex-shrink: 0;
	        flex-shrink: 0;
}
.shade-modal-wrapper .illumina-color dl dt, .shade-modal-wrapper .illumina-color dl dd {
	letter-spacing: 0.2em;
}
.shade-modal-wrapper .illumina-color dl dt {
	margin-bottom: 0.25em;
	font-weight: bold;
	line-height: 1;
}
@media screen and (min-width: 850px) {
	.shade-modal-wrapper .modal {
		width: 800px;
	}
	.shade-modal-wrapper .modal-inner {
		padding: 40px 40px 35px;
		-webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
		        box-shadow: 0 3px 9px rgba(0,0,0,0.5);
	}
	.shade-modal-wrapper .modal-photo {
		margin-bottom: 28px;
	}
	.shade-modal-wrapper .modal-close {
		top: -20px;
		right: -20px;
		width: 41px;
		height: 41px;
	}
	.shade-modal-wrapper .modal-close:before, .shade-modal-wrapper .modal-close:after {
		width: 26px;
	}
	.shade-modal-wrapper .stylist-data {
		margin-bottom: 32px;
		padding: 0 170px 0 110px;
	}
	.shade-modal-wrapper .stylist-data .stylist-shop-icon, .shade-modal-wrapper .stylist-data .stylist-photo {
		top: 2px;
	}
	.shade-modal-wrapper .stylist-data .stylist-shop-icon {
		width: 80px;
	}
	.shade-modal-wrapper .stylist-data .stylist-photo {
		width: 140px;
	}
	.shade-modal-wrapper .stylist-data .stylist-detail .shop-name {
		font-size: 14px;
	}
	.shade-modal-wrapper .stylist-data .stylist-detail .stylist-name {
		display: -webkit-box;
		display:    -moz-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display:         box;
		display:         flex;
		margin-bottom: 10px;

		-webkit-align-items: flex-end;
		        align-items: flex-end;
		-webkit-box-align: end;
		   -moz-box-align: end;
		     -o-box-align: end;
		-ms-flex-align: end;
	}
	.shade-modal-wrapper .stylist-data .stylist-detail .stylist-name .ja {
		margin-right: 0.5em;
		font-size: 16px;
	}
	.shade-modal-wrapper .stylist-data .stylist-detail .stylist-name .en {
		padding-bottom: 2px;
		font-size: 12px;
	}
	.shade-modal-wrapper .stylist-data .stylist-detail .comment-head {
		font-size: 14px;
	}
	.shade-modal-wrapper .stylist-data .stylist-detail .comment-content {
		font-size: 12px;
		line-height: 22px;
	}
	.shade-modal-wrapper .model-s-hair h3 span, .shade-modal-wrapper .illumina-color h3 span {
		padding-right: 35px;
		font-size: 16px;
	}
	.shade-modal-wrapper .model-s-hair {
		margin-bottom: 40px;
	}
	.shade-modal-wrapper .parameter {
		margin-top: 20px;
	}
	.shade-modal-wrapper .parameter dl {
		display: -webkit-box;
		display:    -moz-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display:         box;
		display:         flex;

		-webkit-box-pack: justify;
		   -moz-box-pack: justify;
		     -o-box-pack: justify;
		-ms-flex-pack: justify;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
	}
	.shade-modal-wrapper .parameter dt {
		width: 50px;
		font-size: 13px;
		line-height: 28px;
	}
	.shade-modal-wrapper .parameter dd .left {
		width: 135px;
		padding-right: 30px;
	}
	.shade-modal-wrapper .parameter dd .right {
		width: 55px;
	}
	.shade-modal-wrapper .parameter dd .parameter-container {
		height: 5px;
	}
	.shade-modal-wrapper .parameter dd li {
		width: 5px;
		height: 5px;
	}
	.shade-modal-wrapper .parameter dd li.point:before {
		margin: -4px;
	}
	.shade-modal-wrapper .parameter dd li.point:after {
		margin: -1px;
	}
	.shade-modal-wrapper .illumina-color h3 {
		margin-bottom: 20px;
	}
	.shade-modal-wrapper .illumina-color h4 {
		width: 50px;
		font-size: 13px;
		line-height: 28px;
	}
	.shade-modal-wrapper .illumina-color dl {
		padding-left: 30px;
	}
	.shade-modal-wrapper .illumina-color dl dt {
		font-size: 28px;
	}
	.shade-modal-wrapper .illumina-color dl dd {
		font-size: 16px;
		line-height: 30px;
	}
}
@media screen and (max-width: 849px) {
	.shade-modal-wrapper .modal {
		width: 90.66666666666667vw;
	}
	.shade-modal-wrapper .modal-inner {
		padding: 4vw 4vw 0;
	}
	.shade-modal-wrapper .modal-inner > .modal-close {
		top: -4.266666666666667vw;
		right: -4.266666666666667vw;
		width: calc(8.533333333333333vw + 1px);
		height: calc(8.533333333333333vw + 1px);
	}
	.shade-modal-wrapper .modal-inner > .modal-close:before, .shade-modal-wrapper .modal-inner > .modal-close:after {
		width: 5.6vw;
	}
	.shade-modal-wrapper .modal-body .modal-close {
		margin-top: 5.333333333333333vw;
		padding: 4vw 0;
		border-top: 1px solid #ccc;
		text-align: center;
	}
	.shade-modal-wrapper .modal-body .modal-close span {
		display: inline-block;
		position: relative;
		padding-right: 8vw;
		font-size: 3.2vw;
		line-height: 4vw;
		letter-spacing: 0.2em;
	}
	.shade-modal-wrapper .modal-body .modal-close span:before, .shade-modal-wrapper .modal-body .modal-close span:after {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 5.6vw;
		height: 1px;
		margin: auto 0;
		background-color: #5a498e;
		content: "";
	}
	.shade-modal-wrapper .modal-body .modal-close span:before {
		-webkit-transform: rotate(45deg);
		   -moz-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		     -o-transform: rotate(45deg);
		        transform: rotate(45deg);
	}
	.shade-modal-wrapper .modal-body .modal-close span:after {
		-webkit-transform: rotate(-45deg);
		   -moz-transform: rotate(-45deg);
		    -ms-transform: rotate(-45deg);
		     -o-transform: rotate(-45deg);
		        transform: rotate(-45deg);
	}
	.shade-modal-wrapper .modal-photo {
		margin-bottom: 6.666666666666667vw;
	}
	.shade-modal-wrapper .stylist-data {
		margin-bottom: 6.666666666666667vw;
		padding: 0 24vw 0 18.666666666666668vw;
	}
	.shade-modal-wrapper .stylist-data .stylist-shop-icon, .shade-modal-wrapper .stylist-data .stylist-photo {
		top: 1vw;
	}
	.shade-modal-wrapper .stylist-data .stylist-shop-icon {
		width: 13.333333333333332vw;
	}
	.shade-modal-wrapper .stylist-data .stylist-photo {
		width: 18.666666666666668vw;
	}
	.shade-modal-wrapper .stylist-data .stylist-detail .shop-name {
		margin-bottom: 0.5em;
		font-size: 3.466666666666667vw;
	}
	.shade-modal-wrapper .stylist-data .stylist-detail .stylist-name {
		margin-bottom: 10vw;
	}
	.shade-modal-wrapper .stylist-data .stylist-detail .stylist-name .ja {
		font-size: 4.8vw;
		line-height: 6.666666666666667vw;
	}
	.shade-modal-wrapper .stylist-data .stylist-detail .stylist-name .en {
		font-size: 3.125vw;
		line-height: 1.2;
	}
	.shade-modal-wrapper .stylist-data .stylist-detail .stylist-comment {
		margin: 0 -24vw 0 -18.666666666666668vw;
	}
	.shade-modal-wrapper .stylist-data .stylist-detail .stylist-comment .comment-head {
		font-size: 4.0625vw;
	}
	.shade-modal-wrapper .stylist-data .stylist-detail .stylist-comment .comment-content {
		font-size: 3.125vw;
		line-height: 1.9;
	}
	.shade-modal-wrapper .model-s-hair h3 span, .shade-modal-wrapper .illumina-color h3 span {
		padding-right: 1.5em;
		font-size: 4.8vw;
	}
	.shade-modal-wrapper .model-s-hair {
		margin-bottom: 4.8vw;
	}
	.shade-modal-wrapper .parameter {
		margin-top: 3.2vw;
	}
	.shade-modal-wrapper .parameter dt {
		width: 14.666666666666668vw;
		margin-bottom: 1vw;
		font-size: 3.125vw;
	}
	.shade-modal-wrapper .parameter dd .parameter-container {
		height: 5px;
	}
	.shade-modal-wrapper .parameter dd li {
		width: 5px;
		height: 5px;
	}
	.shade-modal-wrapper .parameter dd li.point:before {
		margin: -4px;
	}
	.shade-modal-wrapper .parameter dd li.point:after {
		margin: -1px;
	}
	.shade-modal-wrapper .parameter dd .left {
		min-width: 70px;
		width: 18.666666666666668vw;
		padding-right: 0.5em;
	}
	.shade-modal-wrapper .parameter dd .right {
		width: 10vw;
	}
	.shade-modal-wrapper .illumina-color h3 {
		margin-bottom: 4.8vw;
	}
	.shade-modal-wrapper .illumina-color h4 {
		width: 14.666666666666668vw;
		font-size: 3.125vw;
	}
	.shade-modal-wrapper .illumina-color dl {
		padding-left: 5.333333333333333vw;
	}
	.shade-modal-wrapper .illumina-color dl dt {
		font-size: 5.066666666666667vw;
	}
	.shade-modal-wrapper .illumina-color dl dt span {
		display: block;
	}
	.shade-modal-wrapper .illumina-color dl dd {
		font-size: 3.733333333333333vw;
	}
}